[2019-04-10 18:55] wtrocki opened #2 "Implement non blocking mutate functions"
## Definition of the problem

Offline requests block promises.
This will mean that code in then will never be called until the device becomes online.

[code]

## Proposal 1

Return error when change is enqueued offline and resubmit every change using client.

[code]

## Proposal 2

Return another observable or promise in error

[code]

[2019-04-10 19:05] wtrocki opened #3 "Support alternative method for creating client"
## Feature Request

Support advanced method for creating client where user can create client themselves and just supply offline and conflicts links on the chain. Currently, the client is being created with many defaults making it hard to use it for generic use cases.

See also #4 that will be required to do this properly.

[2019-04-10 19:11] wtrocki opened #4 "Move link logic to separate package"
## Feature Request

Split conflict and offline features with client creation so developers can pick them separately and integrate with their apps.

[2019-04-15 11:15] wtrocki opened #5 "Wrapping client mutate function"
## Feature Request

Currently, when calling mutate functions users will need to pass generated optimistic response and also supply global cache updates. UX of that approach is quite restrictive and prevents developers from taking things even further.

[code]

## Proposal

Provide wrapper for `client.mutate` that will provide extra capabilities:

## Variant 1

Example parameters for wrapped mutate

[2019-04-15 12:01] wtrocki commented on #5
Dear Community
We would like to know your opinion about this major improvement to Apollo Offline.
We were holding off with making this decision for some time as it will have a major impact on developers. Any opinions feedback and questions are really welcome.

@2WheelCoder
@aarondancer
@amcdnl
@benseitz
@damianesteban
@darahayes
@evereq
@gihrig
@JayKan
@jtmthf
@kmelkon
@KrisKiddell
@michalbrabec
@

[2019-04-15 12:10] wtrocki commented on #5
ping @lterfloth

[2019-04-15 13:14] ntziolis commented on #5
Totally see the usefulness of this. that said, given the fluid state of graphql ecosystem I would wait a little longer before going down the path of a custom client while still providing a way to reduce boilerplate code by:

- Exposing the `offlineHelper` method as you described for people that wanne do it manually
- as well as add an additional medhod to the client ala `client.mutateWithOffline()

[2019-04-15 15:43] ntziolis opened #6 "Delta sync"
A generalized way to handle changes in data on the server while client was offline without refetching all data after reconnect as well as transparently execute initial data loading without requiring user to have all data locally already for app to function.

I completely understand that this is not a client only feature but this library seemed to be the best place to start a discussion on how we w

[2019-04-15 16:01] wtrocki commented on #6
@ntziolis actually this was our target from the day one and going to be covering this requirement by:

- Implementing a new cache layer on top of Apollo GraphQL InMemory storage.
Working on Open Sourcing that part in https://github.com/graphql-heroes/ApolloQLCached

- Integrating QLCached with ApolloOfflineClient.

It is really glad to see this request coming from the community as it validates tha

[2019-04-15 16:14] wtrocki commented on #6
Forgot to mention that we are not only client side and js.
Our goal is to provide a comprehensive layer for both Client and Server side.
Currently, we provide server-side package for conflicts and planning to do more in that space soon.

[2019-04-15 16:15] wtrocki opened #7 "☍ Offix Roadmap"
## Target

Provide comprehensive support for Offline and Conflict resolution on top of Apollo GraphQL. Form community for best practices and patterns for building offline first applications on top of the Apollo GraphQL

### Current Focus

- [x] Non-blocking mutation functions #2
- [x] Global listeners
- [x] Cache helpers #9
- [x] Modular architecture #4
- [ ] Documentation and website #22
- [ ] Re

[2019-04-15 16:50] ntziolis commented on #6
This is just awesome. I'd love to assist in this. My background is in building replication engines so lmk how I can participate. I think true offline capabilities that do NOT force single cloud vendor lock-in or custom solutions are the last major piece in the GraphQL all the way puzzle.

Since I now seem to be talkig to the like minded I wanne run something by you I have been thinking about for a

[2019-04-16 09:16] wtrocki opened #8 "OfflineQueueListener should use observables."
## Bug Report

OfflineQueueListener can be supplied to the client to provide updates.
However, if developers want to `listen` to updates in different places they cannot configure that without providing some wrappers.
Using observables here will be the natural choice as they can be hooked into Angular and React.js land.

Reported by a community member.

[2019-04-16 09:47] ntziolis commented on #6
In regards to delta sync I wanted to get started with an initial list of factors and scenarios.

The following list keeps in mind both data storage and transfer requirements I see 3 main factors in play (standard replication stuff):
1. Create only
   - think non changing master data
   - on client no need to execute a get all after certain periods of time to make sure client has all the data
   -

[2019-04-16 12:00] wtrocki commented on #6
This is very much the target of this. We might provide some out of the box deployment options later.

Really like the ideas. There is no overshooting as from my point of view so many people are looking for anything like this for some time.

Yes. This is pretty much sums it up and it is possible now in Apollo.
When using local projection of the data we can work seamlessly.
Example I always use is p

[2019-04-16 12:02] wtrocki commented on #6
If you looking to become part of the core team ping me `wtr@redhat.com` I will give you rights to the repository so we can collaborate better.

[2019-04-16 17:38] ntziolis commented on #6
So glad to hear this, as requested check your inbox.

[2019-04-17 03:12] xtagon commented on #5
Can you expand on the ramifications of this? Would it still be possible to integrate things like ember-apollo-client (which wraps Apollo Client) and still use links other than the offline link (such as Phoenix's subscription websocket link)?

[2019-04-17 08:44] wtrocki commented on #5
@xtagon When wrapping mutate function we will be throwing some of the functionalities before client mutate will be called.
This will mean that from the simple process of adding required links, we going to move to more complex integration that people will need to replicate.

I really like @ntziolis suggestion. We can start with a helper (we have one for optimistic responses and now we can add one f

[2019-04-17 08:58] wtrocki opened #9 "Create helper for cache updates"
## Feature Request

Provide helper that will support generating update functions.
For example:
[code]
can become

For example:
[code]

[2019-04-17 09:36] wtrocki commented on #6
@ntziolis Thanks for reaching out. I'm going to work on a general proposal for diffing capability so we can collaborate better.

[2019-04-17 15:28] wtrocki commented on #8
Additional to observables we can externalize restoring offline operations after restarts so users can actually listen promises being resolved.

[2019-04-17 15:28] wtrocki commented on #2
done in #10

[2019-04-17 15:28] #2 closed

[2019-04-17 16:27] wtrocki opened #12 "Add build process."
Add the build process using circle

[2019-04-17 16:28] #12 closed

[2019-04-19 11:01] wtrocki opened #19 "[Question] Project name"
When refactoring projects to different packages I found out that having 3 words in name is not a good idea. Package names become really long and confusing:

`apollo-offline-client-client`
`apollo-offline-client-link-server`

Additionally, we probably may avoid using Apollo GraphQL as it is a trademarked name and I can be confusing as developers may think that these packages come from Apollo team.

[2019-04-19 11:03] wtrocki commented on #19
Vote for: 🔬 OfflineLab (GraphQL)

[2019-04-19 11:04] wtrocki commented on #19
Vote for: 🚀 OfflineLink (GraphQL)

[2019-04-19 11:04] wtrocki commented on #19
Vote for: 📶 OfflineX

[2019-04-19 11:04] wtrocki commented on #19
Vote for: 💾 LocalGraphQL

[2019-04-19 11:04] wtrocki commented on #19
Vote for: Offix

[2019-04-19 14:45] wtrocki commented on #19
ping @ntziolis @xtagon

[2019-04-21 18:55] #19 closed

[2019-04-22 14:52] wtrocki opened #22 "[docs] Improve styling in documentation"
1) Use separate repository for website. Create a proper landing page.
2) Improve documentation. Fix styling issues etc.

[2019-04-22 16:31] AndrewMorsillo commented on #6
This is exactly what Meteor.js does if you haven't checked it out. They let the client subscribe to a data set then transparently stream that data into a client side MongoDB implementation (minimongo) that matches the server's mongo client API. The server then tracks active subscriptions against the mongodb oplog and sends any diffs down to subscribed clients. It is totally transparent and reactiv

[2019-04-22 16:44] AndrewMorsillo commented on #5
I also think @ntziolis has a great suggestion. Exposing an optional method to reduce boilerplate sounds great.

[2019-04-22 16:59] AndrewMorsillo opened #23 "React Native support"
It looks like there are just a couple little missing pieces to work with react native. I'm not sure exactly how to integrate them properly into the codebase so I will put the snippets here. We just need a NetworkStatus implementation and to pass AsyncStorage for the storage engine when creating the client. IMO these should just be defaults when react native is the environment.

Detecting react-nat

[2019-04-22 17:14] xtagon commented on #23
Not everyone is using React let alone React Native. I use Ember.js with Apollo, for example, and plan to use Offix with Ember.js as well.

Is there a simple way to support this feature for React Native without introducing a dependency on React Native libraries?

[2019-04-22 17:14] ntziolis commented on #6
@AndrewMorsillo 100% agree on that meteor is exactly where we wanne end up from a dev experience perspective. In fact my team has used meteor to build our first 3 enterprise SaaS solutions, but by now have migrated them to a GraphQL (key reasons where seamless external rest service integration, manageability, long term framework support, no-lock-in to specific technologies / frameworks on the back

[2019-04-22 17:55] AndrewMorsillo commented on #6
@ntziolis I'm in the same boat as you. I'm switching from meteor to graphql for the same reasons in the next iteration of my project.

Agreed 100% on the goal. Providing what you get from meteor in a more open backend agnostic fashion will be the ultimate dream for js development.

[2019-04-22 17:58] AndrewMorsillo commented on #23
That is why I opened the issue here. I'm not sure how to have easier react native setup without adding a dependency.

[2019-04-22 18:03] xtagon commented on #23
I would vote for adding it to the docs. (Note: I'm not the maintainer, just an outside opinion).

If the configuration gets more complicated than that, another idea is to create a separate integration library to handle some of the setup that is specific to React Native. For example, this is what ember-apollo-client does for Ember + Apollo integration, and you could probably do something similar fo

[2019-04-22 18:46] wtrocki commented on #23
@AndrewMorsillo Thank so much for contribution and logging issue. We were thinking about adding official support for react native and providing sample app that will demo all cases. I will add this to roadmap!

I think we can create separate package for react native that will wrap create client and supply react native based dependencies + it will have RNNetworkStatus and AsyncStore connected to con

[2019-04-22 18:48] wtrocki commented on #23
Additionally I will refactor current config to decouple cordova integration and provide similar to cordova. After this is done documentation will have separate chapters for each platform and we will avoid having if inside package.

[2019-04-22 19:15] wtrocki opened #25 "Rename packages to offix"
Currently we are using temporary package names.
We should use offix package names everywhere

[2019-04-22 19:19] wtrocki commented on #23
@AndrewMorsillo I have created new empty package to help with collaboration #24

[2019-04-22 19:46] wtrocki opened #27 "Abstract offline result processors"
When offline requests is finished with success we need to process 2 different things:

- Check and remap local id's
- Check fields for versioning

After chatting with the community we found out that there could be another use cases for updating results. We should abstract processing results in an offline link to `ResultProcessors` and use them to apply conflict and id mapping.

[2019-04-22 19:46] wtrocki commented on #27
ping @StephenCoady

[2019-04-22 20:04] wtrocki commented on #25
Done in #26
Release pending

[2019-04-22 20:04] #25 closed

[2019-04-22 21:41] AndrewMorsillo opened #28 "Parsing local storage data in React Native"
As the title says I upgraded to 0.5.0 and it crashes here

[code]

It looks like the `getOfflineData` function doesn't properly handle invalid data from the store. I'm using 0.5.0 on react-native (expo) with AsyncStorage.

Edit: It actually crashes using AsyncStorage no matter what now. It isn't just with old data. I cleared the data on the simulator and the result is the same. This worked in the

[2019-04-23 01:03] AndrewMorsillo opened #29 "React-apollo 2.5.5 doesn't add client to context"
Using offix 0.5.0. This is a basic react-native expo project as discussed in #23. With react-apollo 2.5.5 `<ApolloConsumer>` fails to find the client on the context. Pinning react-apollo to 2.5.2 works. I'm not sure if this is caused by a react-apollo bug or by offix. https://github.com/apollographql/react-apollo/issues/2900 discusses the issue but only when using MockedProvider and it appears a f

[2019-04-23 01:03] wtrocki commented on #28
We have integration test that tests default storage, but we do not test async store/react native case. I will try to test that early in the morning and see what is actually saved to store

[2019-04-23 01:14] wtrocki commented on #29
@AndrewMorsillo I think that I know what is the problem. It simply need custom client on provider. We are working on sample react project that is going to showcase react usage. Going to provide code snippet tomorrow morning.

[2019-04-23 08:13] wtrocki commented on #28
@AndrewMorsillo I will need your help with this.
I haven't changed anything in the codebase apart from package renames so the code will be 100% the same. React Native support is still in progress in #24
I have tested that using `window.localStorage` as store and it works ok.

I will need the following details in order to assist here:

1) Dropping your client configuration into this PR #24
Configur

[2019-04-23 08:18] wtrocki commented on #29
@AndrewMorsillo I think we are missing documentation how to get thins running in react (and react native). Apollo Provider will have client propperty where we should provide client as follows:

[code]

Going to add this to documentation.

[2019-04-23 08:42] wtrocki commented on #28
@AndrewMorsillo I think that we need to simply check if object needs to be parsed or it is actual js object. window.localStorage returns string and current implementation support is.  Not sure what AsyncStore we have been using for this. Once we get some changes into the React Native we will unify interface.

I think we need to have a wrapper for window.localStorage and our interface will always r

[2019-04-23 08:42] wtrocki commented on #28
ping @StephenCoady

[2019-04-23 09:47] wtrocki commented on #6
I think the best way to start with this is simply to enable the application to Query specific data on the server and Subscribe for results when:

- Application is starting
- The application became online and it is on the foreground.

We currently have `OfflineMutationsHandler` that gives the capability to resend offline mutations.

## How this would work

The client can have new methods for regist

[2019-04-23 10:22] wtrocki opened #30 "Client do not allow to pass initial data."
Client do not allow to pass initial data to the store and seed it with initial objects. We simply can pass an additional parameter to InMemoryCache

[2019-04-23 10:23] wtrocki opened #31 "Create separate react based package that provides out of the box offline components"
## Feature Request

React integration is needed to deliver better UX.
We can have separate components like `OfflineMutation` etc.

Looking for feedback.

[2019-04-23 15:19] AndrewMorsillo commented on #28
Thanks for making that repo. I'm working on an example project hopefully to be ready in the next few days. I'll be sure to push it there.

I'll be investigating the AsyncStorage thing today. Got delayed yesterday because I didn't realize that react native bundler (metro) doesn't work with npm link so I had a hard time setting up a local copy of offix-client.

I'm pretty new to graphql, react-nativ

[2019-04-23 15:25] AndrewMorsillo commented on #29
Sorry I didn't provide a snippet, I am providing the client to <ApolloProvider/> as you illustrated. That fails on react-apollo 2.5.5 but works on 2.5.2. I haven't had the opportunity to dig further into the issue yet but I'll update here if I find up with something. I'm more focused on getting a complete working example set up before investigating this since it has an easy workaround for now.

[2019-04-23 16:02] wtrocki commented on #28
@AndrewMorsillo I'm happy to help orpair program. Ping me on twitter
https://twitter.com/wojtroken

[2019-04-23 16:09] wtrocki commented on #29
@AndrewMorsillo Maybe this is related to the problem in upstream.
I will update the package and check what was changed here and resolve the issue.

[2019-04-23 19:11] AndrewMorsillo commented on #31
While I don't have a ton of experience with apollo-client yet I would hope we can make a HOC version along with a component version. IMO using a component with render props is really messy syntax wise and it mixes your data handling and presentational code in a way that is not desirable. Syntax is cleaner and concerns are better separated with a HOC in my opinion. Also from what I've seen so far T

[2019-04-25 08:37] ntziolis commented on #6
Totally agree with doing this step by a step and using a client side only approach in the first step that doesn't require server side changes. In addition we should make this as transparent as possible.

Looking at what `watchQuery` already provides:
- `refetch` functionality is supported already which users are already familiar with
- specifying a `pollingInterval` already triggers `refetch` base

[2019-04-25 09:41] wtrocki commented on #6
We will follow up with server side node.js package but IMHO is best to start with client side usages first and try them to see if we even need anything from server or it can be done in framework user space.

Yes. This pretty much sums intentions here 💯

Love it. Going to work on the base for that and post update in comming days.

This is already there, however it is a very naive approach and we do

[2019-04-30 10:54] wtrocki opened #33 "Research database as cache and offline changes storage."

[2019-04-30 12:05] wtrocki commented on #29
Simply updating dependencies to Apollo here should work fine.

[2019-04-30 12:09] wtrocki opened #35 "Update documentation for ApolloOfflineClient extensions"
Create an entire chapter about extensions we offer and describe them.
See ApolloOfflineClient interface for more information.

[2019-05-05 19:11] wtrocki commented on #8
Done in #34

[2019-05-05 19:11] #8 closed

[2019-05-15 00:10] wtrocki commented on #27
#38 implementats very basic processor abstraction.

[2019-05-16 05:04] alidcastano commented on #6
@wtrocki regarding `Implementing a new cache layer on top of Apollo GraphQL InMemory storage` is there a reason you chose not to use an existing js database such as Pouchdb to persist/sync the cache? and for those of us considering Pouchdb for these capabilities now, to what extent would this module be compatible?

[2019-05-16 06:41] ntziolis commented on #6
@alidcastano The current status should be seen as stepping stone. Reusing an existing db project is absolutely something we are looking into, keeping in mind that the end goals are to:
- leverage this not only as a simple store but to be able to transparently respond to graphql queries/mutations/subscriptions offline.
- integrate the backend (data replication/sync etc.) via graphql to not impose s

[2019-05-16 06:51] xtagon commented on #6
👍 for not imposing specific technologies. Part of the appeal of the Apollo tools is that they can be glued together for slightly different stacks/use cases.

[2019-05-16 11:46] wtrocki opened #39 "Diff based changesets"
## Feature Request

Offline changes can be saved as diffs between cache and data passed to mutation.
When working with web frameworks users will pass all data to mutations despite what fields were actually changed. We can have an additional layer between user data and mutation that will calculate diff between what UI have and what was stored in cache.

## Assumptions

Mutations accept diffs rather

[2019-05-16 12:53] alidcastano commented on #6
I just started looking into this space myself so there may be technical nuances I'm not seeing - but in general, data synchronization and conflict resolutions are hard problems to solve, why not use an existing, battle-tested solution in the interim? it'll be the difference between being able to use a production-ready solution next week versus next year.

apollo-servers pubsub implementation, for

[2019-05-16 13:03] alidcastano commented on #6
@ntziolis regarding `CouchDB replication protocol compatible DBs`, I likely need to look into this more but won't any implementations need to be compatible with specific databases?  it seems like the only difference will be that it's some new Graphql protocol versus an already tested protocol - though I guess there might be some complexity involved in passing graphql queries/mutations back and for

[2019-05-16 13:57] alidcastano commented on #6
@ntziolis here's a comment I found that adds to your database list: https://github.com/prisma/prisma/issues/1659#issuecomment-391129297

[2019-05-16 16:29] wtrocki opened #41 "Verify if framework works with Prisma generated resolvers and subscriptions"
## Feature Request

Check if client works with Prisma and if possible to extend Prisma to include conflict resolution feature on top of prisma

[2019-05-16 16:40] wtrocki commented on #6
@alidcastano Thank you so much for listing that out. I will research the list of the databases that were provided.

[2019-05-16 16:42] wtrocki commented on #33
see https://github.com/graphql-heroes/offix/issues/6#issuecomment-493078655

[2019-05-16 20:14] wtrocki commented on #41
- [x] Generated sample project
- [x] Dropped in conflict resolution
- [x] Got full support of conflict (and obviously offline) in offix.

Checked this also with Yoga2 (resolver first approach)

[2019-05-16 20:14] #41 closed

[2019-05-16 20:35] wtrocki commented on #6
After quick check I think we can list 2 categories of soluions:

- Using GraphQL endpoint for synchronization and replicating queries that were made
- Using internal mechanism with custom endpoint for replicating data.

Both will have some advantages and disadvantages.
We already have database support in form of indexedDB but it is using just single key thru apollo-cache-persist. We can migrate to

[2019-05-17 08:21] ntziolis commented on #6
@alidcastano Thank you for the link, saw that previously but couldn't find it anymore so thank you!

just to be clear, my statements where oriented towards the end goal and should not mean that in the interim it wouldn't be a good idea to bridge with an existing technology. Im all for using an interim solution until we have this ironed out in a non technology specific manner.

My main concerns for

[2019-05-17 13:46] alidcastano commented on #6
@ntziolis appreciate you writing this out -- it exactly aligns with what I've been learning these last two days, so glad it's nicely summarized here for others.

I'll also add this quote here from an [interview](https://medium.freecodecamp.org/between-the-wires-an-interview-with-microsoft-edge-performance-pm-nolan-lawson-ca3240dec2eb) with one of the Pouchch maintainers:

the Pouchdb/Couchdb combo

[2019-05-17 14:00] #9 closed

[2019-05-22 13:26] ntziolis commented on #6
Generally there are replication solutions for SQL DBs available that work really well but they are extremely cost prohibitive (often priced per replication endpoint) and functionality wise more geared towards internal enterprise use cases.

I was referring to what level of service can be expected from the replication backend. Some replication use cases possible in Pouch will be hard to generalize

[2019-05-23 16:13] wtrocki commented on #6
Really nice ideas in the thread so I want to summarize everything and create actionable items from this super thread.

Over the next day going to create the following issues:
- Build network state aware data replication using existing Apollo API.
- Build dynamic local query resolvers on top of the existing data in the cache
- Investigate ways to deliver row level delta based solution on the server

[2019-06-03 09:30] mgobins opened #45 "Release package"
## Bug Report

* **Affected Package(s)**:
* **Package version(s)**:
* **Platform (e.g. Android/iOS)**:
* **Platform Version**:
* **Cordova Version**:
* **Node.js / npm versions**:

[2019-06-03 14:12] wtrocki commented on #45
The package is released to npm already and working on a new release soon.

[2019-06-12 11:56] wtrocki commented on #4
@StephenCoady @darahayes  I think we might instead have conflict and offline as single package with thin client wrapping both helpers and links.

This way we can:
- promote links in apollo
- have very opiniated client that works out of the box
- have cache helpers as separate tooling for ecosystem
- use links to provide different flavours of offix ;)

Sounds like plan?

[2019-06-12 11:58] wtrocki commented on #3
After community reachout this was voted the most important feature.
@StephenCoady already have done cache helpers.
After conflict refinement, we can do a separate package as suggested in #4.

Closing as all work will be done in #4.

[2019-06-12 11:58] #3 closed

[2019-06-12 12:00] wtrocki commented on #23
@AndrewMorsillo Did you get any success with running React Native.

We have done lots of improvements inside the package and extended our interface so it should work flawlessly with the React Native, however, we do not have any sample app provided yet. If you know any sample React Native app that uses Apollo GraphQL please let us know. We can extend it with offix and see if we require additional p

[2019-06-12 12:01] wtrocki commented on #22
@darahayes I remember you have mentioned this documentation tool we can use to get things look nicer. Maybe we can get some community member to try this out instead of current docs.

[2019-06-12 12:03] wtrocki commented on #28
We have done a couple of improvements to abstract storage interface inside offix and hoping to release new version over the comming days. So most of the problems should dissapear and things should work out of the box.

[2019-06-12 12:03] AndrewMorsillo commented on #23
I'm sorry to say my attention has been taken away from apollo/graphql as my team has decided to instead use Firebase to prototype our new project. I may have time to come back to this in the future but in the near term I won't have any time to look into it.

[2019-06-12 12:03] wtrocki commented on #35
Outdated

[2019-06-12 12:03] #35 closed

[2019-06-12 12:06] AndrewMorsillo commented on #28
Unfortunately my team has decided not to use apollo/graphql for our latest project so I won't have time to contribute here for some time. I think this issue can be closed since it sounds like the storage abstraction should render it a non-issue.

[2019-06-12 12:06] #28 closed

[2019-06-12 12:10] wtrocki commented on #28
@AndrewMorsillo Thank you so much for the update!

[2019-06-12 12:13] wtrocki commented on #23
Perfect! Thank you for getting back. We will still invest time into getting the React Native in future so stay tunned for updates!

[2019-06-12 12:15] wtrocki opened #49 "Build network state aware data replication using plain graphql client"
I think the best way to start with this is simply to enable the application to Query specific data on the server and Subscribe for results when:

- Application is starting
- The application became online and it is on the foreground.

We currently have `OfflineMutationsHandler` that gives the capability to resend offline mutations.

## Proposal for client

The client can have new methods for regist

[2019-06-12 12:16] wtrocki commented on #39
Update on this issue. I have investigated that approach and found out that row/table based diffs will require separate stores for users on the backend.
This may be very tempting but it might require schema generation capabilities

[2019-06-12 13:48] StephenCoady commented on #4
It sounds good to me. A completely pluggable package with a client that ties everything together if required is the best of both.

[2019-06-12 13:52] darahayes commented on #4
I really like this idea. I would go as far as to say we could split out all of the links into dedicated packages. (Offline, Conflicts, Auth, etc) into their own separate packages and then provide a composite link or even an entire client that uses those in an opinionated way.

[2019-06-12 13:58] wtrocki commented on #4
Perfect! Added that to upstream roadmap

[2019-06-14 11:20] wtrocki commented on #45
@mgobins See our latest release with tons of improvements.
Closing (CC @StephenCoady )

[2019-06-14 11:20] #45 closed

[2019-06-14 20:01] wtrocki commented on #5
Done. Documentation updated by @StephenCoady

[2019-06-14 20:03] wtrocki commented on #30
This is possible after the client is created, but before any query is send

[2019-06-14 20:03] #30 closed

[2019-06-14 20:03] wtrocki commented on #29
Tried that now with Apollo 2.6 and it felt that this was bug on their side.

[2019-06-14 20:03] #29 closed

[2019-06-17 21:37] areel opened #62 "offix-client version 0.6.0 not part of latest release"
## Bug Report

* **Affected Package(s)**:
* **Package version(s)**:
* **Platform (e.g. Android/iOS)**:
* **Platform Version**:
* **Cordova Version**:
* **Node.js / npm versions**:

/packages/offix-cache/package.json has offix-client@0.6.0 as a dev-dependency but this version has not been publicly released.
Perhaps offix-client@0.6.0 omitted by mistake from last release cycle?

[2019-06-17 23:40] wtrocki commented on #62
Ah.. we did not catch that issue as this package is required in dev dependencies only and we use Lerna for development that mounts package. Thank you for the logging issue. I have fixed that by the manual release which is not ideal as we have automation in place. Going to release 0.7.0 soon to cover all these problems.

FYI @StephenCoady

[2019-06-17 23:44] #62 closed

[2019-06-18 12:25] areel opened #63 "updating multiple instances of a query that contain dynamic parameter values"
## Feature Question

Hi

I came across your libraries while looking for an offline Apollo solution BUT your offix-cache is also of interest because I have would like a simple/clean method to update the cache when you have multiple occurrences of the same query in your cache that differ on their parameter values.

an example:
- You have a parent entity with a list containing children.
-  The parent

[2019-06-18 14:26] wtrocki commented on #63
Hello

To fully understand your case we will need to see example of cache and operations that we will expect to perform. What will be expected state of the cache before and after cache changes?

For example:
Before:

![Screenshot 2019-06-18 at 15 10 44](https://user-images.githubusercontent.com/981838/59692101-2882bc80-91dc-11e9-8f1f-df8f4cef880e.png)

After:
![Screenshot 2019-06-18 at 15 08 06](h

[2019-06-18 15:03] wtrocki opened #64 "[Proposal] Multi package structure"
## Architecture of the offix client

Currently offix-client is very complex set of the links that perform many different operations (non offline related). We trying to keep links separated internally, but this do not change the fact that our link implementation gets more complex over the time.

## Solution

To prevent from complexity but still promote reusability we can have a separate package tha

[2019-06-18 15:04] wtrocki commented on #64
ping @darahayes @StephenCoady

[2019-06-18 19:17] #27 closed

[2019-06-18 19:20] wtrocki commented on #63
We are aware of the cases where helpers may not work (like pagination), but your case looks very complex, so having any info back can help us to understand it and provide the most generic option (if there is one :) )

[2019-06-18 19:27] areel commented on #63
Was just about finishing this reply when your last comment came in.

The example shown below was chosen as it was easiest for me to create.

One of our scenarios is supporting basic CRUD operations. It is assumed the user would be able to traverse over sets of data and perform ad hoc CUD. An example UI could be a grid that supports pagination and differing page sizes.
The following screen shots sh

[2019-06-19 13:42] Hasan-git opened #65 "Ability to integrate with graphql-dotnet server ?"

[2019-06-19 20:06] wtrocki commented on #65
We are backend agnostic so as long we are using js on client side most of the functionalities will work. The conflict part has server side implementation that is optional - to detect conflict but we can explain approaches here so you could replicate this in dotnet server with no issues.

[2019-06-19 20:24] jalchr commented on #65
We are looking forward to see how could this be done in dotnet.
Could you provide a sample code or a blog post or provide some guidelines ?

[2019-06-20 12:14] wtrocki commented on #65
Yes. Server side will be really simple and we have PR opened that will describe that currently.

TL;DR it will require you to return specific graphql error on conflict containing server and client data. I would be cool to add that package here as well as contribution once we done it and test it

however conflict part is not required to start using offline client. Without server conflicts will not

[2019-06-20 13:21] wtrocki commented on #65
Mentioned PR: https://github.com/aerogear/offix/pull/54

[2019-06-21 10:09] darahayes commented on #64
I think this is a solid idea. We already have the repo structure and CI process in place to support it. I think in the long term it allow for more flexibility individual links can be used and configured. It might also make it easier for contributions.

Question about versioning. Do you see those package versions being updated independently or will we simply release all of the packages every time w

[2019-06-21 11:58] wtrocki commented on #64
I think releasing all together with single will be simpler for us and devs

[2019-06-24 12:19] wtrocki commented on #63
I have done a quick investigation and evicting root level elements is still not supported inside the apollo-cache:
https://github.com/apollographql/apollo-client/pull/4917

We can manipulate only queries at the moment.

However, I recognize the problem of not knowing the variable (for pagination use cases). This is something we can definitely fix in future release

[2019-06-25 08:37] Hasan-git commented on #65
In-progress

[2019-06-25 08:40] Hasan-git opened #69 "Cache redirects are not exposed to clients"
Documentation it's a little bit confusing, can you provide us with samples ?

------------------------
EDITED BY @wtrocki

Target of this issue is to document way developers can specify Apollo Cache Redirects.
Those redirects needs to be specified when creating InMemoryCache
https://github.com/aerogear/offix/blob/master/packages/offix-client/src/OfflineClient.ts#L102

Currently there is no way to

[2019-06-25 10:21] wtrocki commented on #65
My recomendation will be to create separate folder with the readme and call it something like dotnet server.

[2019-06-25 10:26] wtrocki commented on #69
What particular parts of the documentation are problematic?
We are actually working on improving documentation and sample app so any feedback is more than welcomed.
Offix is used in https://github.com/aerogear/ionic-showcase.

Demo video: https://www.youtube.com/embed/CrYinCtTHds

[2019-06-25 12:06] Hasan-git commented on #69
**All human beings will be thankful for your efforts**

[2019-06-25 12:15] Hasan-git commented on #69
how to add links and configure inMemoryCache ( cacheRedirects and dataIdFromObject ).

![image](https://user-images.githubusercontent.com/8820596/60097179-8888de00-975b-11e9-945d-60ffcab3f7ac.png)

[2019-06-25 14:06] wtrocki commented on #69
So currently we creating a client for developers. Adding links is possible only by overriding the init method of the ApolloClient. However, we are hoping to extract links in the coming week so it will be available to be used with existing clients.

[2019-06-26 13:34] Hasan-git commented on #69
![image](https://user-images.githubusercontent.com/8820596/60182266-b0944200-982c-11e9-9bc6-26690f778b72.png)

the Query "allTasks"  accepts argument ( first : Int ) imagine we are providing this query with arg.

@ ROOT_QUERY

- allTasks({ "first" : 1 })
- allTasks({ "first" : 2 })
- ...

how this could updateQuery handle this situation.

Where, in my case I am using pagination with arguments (fil

[2019-06-26 13:55] wtrocki commented on #69
I think we need to have another issue (this one is about documentation) where we will ask for the team to provide support for pagination which is actually really tricky to get now and it will require some heavy lifting on the developer side.
We had some use cases for Pagination but they were always business case specific.

I think for we need to have separate cache update helper for pagination and

[2019-06-26 14:13] wtrocki commented on #69
To implement that:
I will use cacheRedirects:
Operate on the root object and ignoring the pages.
Have some simplified equivalent of the pagination.

Pagination is tricky and since there could be many business requirements to do it. It is hard to do it on a generic level. However, we can try to provide some helpers that will assume some format of pagination that should work for the cases where user

[2019-06-27 09:27] wtrocki commented on #63
More investigation lead me to conclusion that we need to support paggination as separate case in the update helpers. This was also pointed in #69.
We are going to put separate issue how to address that problem soon.

[2019-06-27 11:13] Hasan-git opened #70 "Support pagination as separate case in the update helpers."

[2019-06-27 11:31] wtrocki commented on #70
Thanks for reporting this issue.
See the conversation from #69. Added that to roadmap and going to provide a proposal for this soon.

[2019-06-27 12:34] Hasan-git opened #71 "Custom cache update functions"
Using apollo client mutation I was able to use update method to provide my custom function to update cache. Thanks for "mutationCacheUpdates" by offix that handle the standard situations.
Whereas , in many cases the data could be nested or overlapped, where some other updates cache should be performed on developer side.

In this example below, PateintsMediaFile will contain some MediaFiles (overla

[2019-06-27 12:51] wtrocki commented on #71
@Hasan-git mutationCacheUpdates is just helper that provides value to the mutation update method. So if you have any custom cases we can still provide generic update method and reuse helper inside it to cover standard case if needed.

However, if you think that there will be a generic use case we can add to helpers please let us know.

[2019-06-27 12:52] wtrocki commented on #71
ping @StephenCoady @darahayes

[2019-06-28 15:59] wtrocki opened #72 "Use docusaurus for the docs"
## Feature Request

Use docusaurus for the documentation as suggested in https://github.com/aerogear/offix/pull/68
Target of this issue is to migrate existing docs to docusaurus.

[2019-06-28 18:37] Hasan-git opened #73 "Update cache after delete mutation"
How its possible to update the cache after delete mutation?

![Untitled](https://user-images.githubusercontent.com/8820596/60363079-3c53cd00-99eb-11e9-99a0-262b1b2a8d36.png)

![image](https://user-images.githubusercontent.com/8820596/60363058-2b0ac080-99eb-11e9-98c8-3f5402cf730d.png)

**Repo**
I do not know if I'm doing this right.
But, I have already created very simple demo to play with offix un

[2019-06-29 10:03] Hasan-git commented on #73
Solved, I was following the [ionic-showcase](https://github.com/aerogear/ionic-showcase.) sample, where deleteTask is returning the id of the deleted task rather than the Task.

[2019-06-29 10:06] Hasan-git commented on #73
I think it would be better to delete the item from store too. maybe its optional but anyway I would recommend to clean my store

[2019-06-29 10:17] Hasan-git commented on #71
I think for now just the custom function is real need in common cases

[2019-06-29 15:51] Hasan-git opened #74 "Bug: id.startsWith is not a function"
![image](https://user-images.githubusercontent.com/8820596/60386212-eb031680-9a9a-11e9-9b2c-d3890f489c67.png)

[2019-06-29 18:35] Hasan-git opened #75 "Use auto generated id variable in optimistic response rather than Client:xxxxx"
Is it possible to use the variable id (which is auto-generated on client-side) in optimistic response rather than "client:xxxxxx".

In case of nested data, this approach will cause an issues. Then, my solution is always to generate an id on client side and offix should accept this variable.

![image](https://user-images.githubusercontent.com/8820596/60388132-d2542a00-9ab5-11e9-8a4c-a29627ea0d5d.pn

[2019-07-01 09:41] wtrocki commented on #73
This a common problem of Apollo InMemory cache. Root items cannot be removed from the cache without hack. The current hack that is InMemoryCache specific.

Our next release will cover that aspect properly.

For the moment there are two ways to do that in cacheUpdates:

[code]
const context = operation.getContext();
    if (context.cache && context.cache.data) {
      const cacheData = context.cach

[2019-07-01 09:44] wtrocki commented on #73
che

[2019-07-01 10:02] wtrocki commented on #74
This is happening when the model is missing `id` field or id field is not a string
@Hasan-git I will quickly patch it as this looks like a blocker for me.

I think we have 2 issues here. The first one is that we always assume `id` is a string and this is a critical issue that I will patch today or tomorrow.

The second one will be the fact that we ignore `MutationHelperOptions.idFIeld` provided by

[2019-07-01 10:03] wtrocki opened #76 "IDProcessor contains hardcoded id's"
We ignore `MutationHelperOptions.idFIeld` provided by the user and use the hardcoded `id` field in `IDProcessor` - Going to create a separate issue for that bug.

Originally logged in https://github.com/aerogear/offix/issues/74

[2019-07-01 11:03] wtrocki commented on #75
I love this idea! Really really useful feedback.
We needed to have a unified way to know if the id we dealing with is autogenerated.
We execute id mapping after based on that.

Does having `client:Greeting:xxxxxx` will resolve this problem?
If yes then this is very trivial fix. In fact we do not need function - we have access to typename so our id should be:

`client:{TypeName}:{generatedId}`

WDY

[2019-07-01 11:53] wtrocki commented on #73
I love it. Do you mind if we extend it a little bit more and bring into AeroGear org! Thank you so much for all the hard work you are putting to help us to move out the beta stage! I really appreciate that.

[2019-07-01 13:09] Hasan-git commented on #75
Of course no, greeing.id should be the id set by variables.id ,,, this fixes the issue

**Reproduce**

Assume that we have the below scenario (it's a real scenario) .

STEP 1 create a **location** while offline:

[code]

STEP 2 creating a **condition** while offline

[code]

Currently, I'm using mongodb which uses ObjectId as default primary key.... .
The idea , when creating any new item I'am alw

[2019-07-01 13:18] wtrocki commented on #75
Awesome.

Yes. Now I fully understand what we mean here. Yes. We should resolve this problem

[2019-07-01 13:31] darahayes opened #78 "Migrate from mocha to ava with better test coverage"
We're making some really great progress with Offix, however I think some work needs to be done around testing. I'd like this issue to focus solely on **unit tests**. There is plenty of scope for integration tests also, but I think we can start simple and cover those in a separate issue.

There are several components in Offix that perform some complex and tricky logic. Cache operations, data struct

[2019-07-01 13:37] Hasan-git commented on #73
My pleasure.

Offix success means a lot to us.

[2019-07-02 04:26] Hasan-git commented on #74
Indeed, the whole object was null. if its does matter that I was doing a mutation that should return an GraphqlError but I didn't ,  maybe if I was returning an GraphqlError this bug will not be catched

[2019-07-02 08:39] wtrocki commented on #74
@Hasan-git This makes sense now. Going to patch this and do new patch release.

[2019-07-02 11:13] wtrocki opened #80 "graphql version conflicts when using without latest version of the library"
graphql version conflicts with user graphql when using without latest version of the library. We should make sure that we have all packages configured using peer-dependencies and require people to pass versions in their apps.

[2019-07-02 11:18] wtrocki opened #81 "Support Apollo 2.6"
Some of the types have changed that prevent from compiling the source code.
The workaround, for now, is to use `as any` for MutationOptions
See #59

[2019-07-02 14:53] wtrocki commented on #74
Done. Going to release 0.6.1

[2019-07-03 08:30] #74 closed

[2019-07-03 09:41] wtrocki opened #84 "Cache helpers do not support single field"
## Bug Report

See #67

[2019-07-03 09:43] wtrocki commented on #7
Closing as we now going to utilize milestones. The next milestone is 0.7.0

[2019-07-03 09:43] #7 closed

[2019-07-03 11:44] wtrocki opened #85 "ConflictProcessor expects version state"
The conflict processor is designed to update state information for offline queue. We should check if the object actually contains state.
When dealing with objects without the state we currently going to apply a new state by default which will mean that we going to get conflict resolution logic for the changes we do not want to be included in conflict resolution.

Very simple fix will include check

[2019-07-03 15:13] Hasan-git commented on #70
@wtrocki Please check this [apollo-offline-pagination-demo](https://github.com/Hasan-git/apollo-offline-pagination-demo).
I was playing around. It still have one issue in cacheRedicrects response to work as expected

[2019-07-03 15:46] Hasan-git commented on #71
Is it possible to add this issue to 0.7.0 milestone ? I think its essential need for anyone to move on to use offix

[2019-07-03 16:39] wtrocki commented on #71
Added.
What you mean by:

It is possible to provide custom function instead of helper by using the `update` field explicitly from `client.mutate` and `client.offlineMutation`.

[2019-07-03 16:41] wtrocki commented on #70
This is amazing! I really appreciate it! It clearly shows the core of the problem. We are currently working on conflict and package refactoring but hoping to get into that area soon.

[2019-07-03 20:47] Hasan-git commented on #71
Sorry for misunderstanding, I was asking to provide custom function like =>

![image](https://user-images.githubusercontent.com/8820596/60623518-8540c280-9deb-11e9-9936-d0381988d14b.png)
Anyway, gladly it works and every thing is ok.

##

But, I'm still figuring a way to provide custom function to update cache in offllineMutation(), something like=>

![image](https://user-images.githubusercontent.

[2019-07-05 11:05] wtrocki opened #89 "Client.mutate should not include any offline and conflict links"
We need to make sure that we have a differentiation between oflineMutate and mutation. We have onlineOnly but since we dropping now support for client.mutate() we can think about disabling all functionalities when client.mutate is used.

[2019-07-07 10:05] mgobins opened #93 "0.7.0 release?"
When we can expect 0.7.0 release?
Can you do fix to support for Apollo 2.6 - types are breaking now.
I like more examples for conflict with actual database and react integration.
It is hard to use it in React. Do you plan to provide offix components?

[2019-07-07 10:11] #5 closed

[2019-07-07 10:15] wtrocki commented on #93
We have an issue for Apollo 2.6 support #81
We do not have db example in offix but you might also find a good example in:
https://github.com/aerogear/ionic-showcase . We are still working on adjusting the changes to the new API.

As for react components - do you mean something like <OfflineMutation>

[2019-07-08 11:55] wtrocki opened #94 "[Conflict] Object state - Client side interface is missing hash state"
Hash state implementation is missing on the client

[2019-07-09 09:15] wtrocki commented on #31
Couple people raised their interest in this. Lets see if I can quickly hack something

[2019-07-09 09:16] #64 closed

[2019-07-11 08:46] wtrocki commented on #39
Done in the conflict resolution logic by assessing the client.

[2019-07-11 08:46] #39 closed

[2019-07-11 11:50] StephenCoady opened #111 "getUpdateFunction does not have a default opType"
## Bug Report

Currently `getUpdateFunction` here: https://github.com/aerogear/offix/blob/master/packages/offix-cache/src/cache/mutations.ts#L77 does not have a default value for `opType`. This is bad and can be breaking.

* **Affected Package(s)**:
offix-cache
* **Package version(s)**:
1.6.1

[2019-07-15 10:53] StephenCoady opened #116 "Default UseClient conflict strategy can pick outdated data"
## Bug Report

Currently, conflict processor is creating an issue where it updates issues in the queue meaning conflicts (that should be triggered) are not.

Also, the strategy interface should be extended to allow the passing of additional necessary data.

The default implementation is also incorrect and has the potential to cause data loss as server data is overwritten with base data. To combat

[2019-07-16 09:17] wtrocki commented on #72
Additionally, we should be moving to gh-pages branch to separate between production and development docs.

[2019-07-16 10:21] wtrocki commented on #72
After checking other repositories I think we can maintain 2 versions of the current docs and have them both in docs folder.

offix.dev will point to release folder3
offix.dev/preview will point to the preview master folder.

This means that we will need to have duplication of the docs but benefits are that
we do not edit released one until we do some hotfix.

[2019-07-16 10:33] StephenCoady commented on #72
@wtrocki this sounds good to me. Will the duplication you mention just be an overwrite of what is already there with the /preview version? If thats the case then this sounds like a good solution to me. We could possibly even make that part of our release pipeline.

[2019-07-16 11:13] wtrocki commented on #72
I mean:

/docs/preview
/docs/latest
index.html pointing to /latest

At the time of the release preview and latest will have identical content.
This way we can avoid hassle and always do hotfixes without pushing unreleased features.

[2019-07-17 09:43] darahayes commented on #72
I love this idea. It's simple and it works really well. I've seen a couple of projects do it this way and I've always been happy to use their docs. BTW, docusaurus has some capabilities to automatically generate a version of the docs. For example, it is possible to run some command/script that will result in offix.dev/0.5.0.

You can basically cut a release of the docs from the current version and

[2019-07-17 09:53] wtrocki commented on #72
Yep. That will be it with the notion that it is best to not overload repository and maybe keep 2 last versions out there.

[2019-07-17 15:31] wtrocki opened #118 "Persistent optimistic responses"
## Feature Request

Currently optimistic responses are persisted for offline queue and it is possible to replicate them by supplying cache update functions globally.

We can use a custom cache persistence layer on top of Apollo cache persist that will save and manage optimist responses in cache and remove the need of supplying complex cache update functions globally.

## How this will work

Optimi

[2019-07-17 15:57] wtrocki opened #119 "Conflict rebase functionality"
## Rebase Feature for Conflicts

Currently any subsequent change on the same object while offline can cause conflict. This due to the fact that any next subsequent change will be based on an optimistic response.

This causes network inefficiency - an additional roundtrip is needed to server. The server needs to fetch server state

## Approaches for resolving this problem

### Rebasing offline queu

[2019-07-17 16:00] wtrocki opened #120 "Network state should be checked before hitting client mutate"
## Definition of the problem

Currently, when performing offline mutate operation we going to apply optimistic response updates twice. This approach also requires users to pass the global cache update function, which is not convenient.

## Solution

We can return error to the user and check network state directly in the helper making. Offline link then will be able to enqueue the changes as always

[2019-07-17 19:30] #81 closed

[2019-07-18 16:09] StephenCoady commented on #116
Fixed in https://github.com/aerogear/offix/pull/117

[2019-07-18 16:09] #116 closed

[2019-07-18 16:10] StephenCoady commented on #111
fixed in https://github.com/aerogear/offix/pull/117

[2019-07-18 16:10] #111 closed

[2019-07-19 10:42] wtrocki commented on #120
Ok.. After quick investigation of this I think that we can move even farther from client.mutate and make network state checkbeforehand. This will mean that there will be extra offlineFlag to context that will be triggering offline link to store mutations. I could not find any side impacts of this change and going to create quick prototype now

[2019-07-21 16:31] wtrocki commented on #72
Going to apply something like https://graphback.offix.dev

[2019-07-22 08:38] darahayes commented on #72
@wtrocki this is a really nice!

[2019-07-22 10:59] darahayes commented on #31
I've spent some time today researching options for this. [React hooks](https://reactjs.org/docs/hooks-intro.html) were introduced earlier this year and are quickly gaining popularity as an alternative to HOCs for building stateful components. [react-apollo-hooks](https://github.com/trojanowski/react-apollo-hooks) which is soon being deprecated in favour of [@apollo/react-hooks](https://www.npmjs.c

[2019-07-22 12:20] wtrocki commented on #31
I think we need to make decision if we do sample application inside offix or use https://github.com/aerogear/offix-react-example repository. Then we can use it for investigation and supporting different flavours.

[2019-07-22 12:24] wtrocki opened #129 "Make offline scheduler that is not bound to apollo client/link"
Offline mutation scheduler is now part of the Apollo-link.
This has some disadvantages as processing on link requires client.mutate to be scheduled. Ideally, our scheduler should act before client.mutate is triggered and persist the related data

See #125

[2019-07-25 11:50] darahayes opened #136 "Request: make it easier to create and access OfflineClient.apolloClient"
## Feature Request

Related discussion here: https://github.com/darahayes/offix-example-react/issues/1

**Is your feature request related to a problem? Please describe.**

The main problem right now is that the flow to create a client looks something like this.

[code]

The apolloClient is really what we're looking for but it doesn't become available to us until after we `await client.init()`. I n

[2019-07-25 15:17] wtrocki commented on #136
There are couple reasons why we are async but main one is that we need to restore the cache. However, this should not be associated with the client.

In fact, we can create a client before and have the internal promise that will be checked if client was rehydrated before executing first query or mutate inside application. This is how this could look like:

https://github.com/apollographql/apollo-c

[2019-07-25 15:32] darahayes commented on #136
@wtrocki I did a little bit more research around the example apollo-cache-persist provides: https://github.com/apollographql/apollo-cache-persist#react

So this seems pretty good to me. I decided to implement a similar approach but using the `useEffect` hook which can be a much cleaner and concise way to achieve the same behaviour as `componentDidMount`.

Take a look at this PR I have here: https:

[2019-07-26 14:26] alk831 commented on #23
I have used the following config and it throws following error when I try to execute offline mutation.
![image](https://user-images.githubusercontent.com/37848894/61958610-ee1df380-afc1-11e9-99e1-28ec577b032c.png)
React Native `0.60.4` - Android

[2019-07-29 09:19] wtrocki commented on #70
Apollo team is working now on spec for pagination - including local based cache pagination. We are hoping to contribute there and then make changes in our offix libraries to apply the best patterns for both.

[2019-07-29 10:23] wtrocki commented on #23
@alk831 Hi. Do you think it will be possible to provide more details on how this is being setup? We going to work on sample react native application soon.

[2019-07-29 10:25] wtrocki commented on #23
@alk831 Do you use Apollo boost? You might find this issue useful: https://github.com/apollographql/apollo-cache-persist/issues/52

[2019-07-30 12:20] wtrocki commented on #23
I have managed to replicated this issue in https://github.com/wtrocki/offix-react-native-sample and working on checking why this is happening.

[2019-07-30 15:24] wtrocki commented on #23
Moving from `react` to `@react-native-community/async-storage` removed the issue.
Leaving this open as we need to add more production-ready examples of how to react native integration will be done.

[2019-07-30 15:36] alk831 commented on #23
Sorry for the delay, since I have decided to use sqlite database, as my app will strongly rely on offline mode.
I have been using `AsyncStorage` from community package and I still had this issue. It was probably caused by using incorrect client, since I have created it from `ApolloClient` (apollo-boost) and your example shows that client is being returned from offix's init `promise`.

[2019-07-30 18:11] Hasan-git commented on #70
Would you please provide any link

[2019-07-30 18:34] wtrocki commented on #70
Sadly there is no PR yet. We going to still do some fixes in this repo.

[2019-07-31 09:28] StephenCoady commented on #76
fixed in https://github.com/aerogear/offix/pull/122

[2019-07-31 09:28] #76 closed

[2019-07-31 09:57] #33 closed

[2019-07-31 10:02] wtrocki commented on #93
The release has done! We are working on 0.8.0

[2019-07-31 10:02] #93 closed

[2019-07-31 10:04] #4 closed

[2019-07-31 10:34] wtrocki commented on #80
Done (https://github.com/aerogear/offix/blob/master/packages/offix-client/package.json#L57)

[2019-07-31 10:34] #80 closed

[2019-07-31 10:37] wtrocki commented on #65
The documentation contains the specification of how conflict can be implemented: https://offix.dev/#/ref-conflict-server?id=conflict-resolution-specification-for-other-languages

Implementation is very simple - we just need error on conflict and developers should be able to implement this easily outside node.js

FYI @bofarrell Conflict server will work with other middleware languages like java.

[2019-07-31 10:38] #65 closed

[2019-07-31 10:44] wtrocki commented on #23
Actually problem was that storage interface on save expected objects where react native expects string. I needed to create extra wrapper like here:

https://github.com/wtrocki/offix-react-native-sample/blob/master/offixapp/App.js#L12-L21

After that app is fully usable, however, I'm not satisfied enough to close this topic. I think we need to

- Have separate chapter in docs for react native
- Hav

[2019-07-31 10:46] wtrocki commented on #84
I think this is less important that we can think of.

If we have single field query then any mutation will instantly update it.
For deletion or creation refetch queries should be used.

I think we should not suppor that at all.

@StephenCoady If you agree please close this issue.

[2019-07-31 11:16] #84 closed

[2019-08-02 09:47] wtrocki opened #140 "Create doc chapter about offline patterns"
Offline patterns can include the setting of different timeout on network requests. Handling different server states.

[2019-08-07 11:42] milenazuccarelli opened #145 "Page fails to load online after offline refresh: item.operation.getContext is not a function"
## Bug Report

Hey guys, I am experiencing the following error:
`Uncaught (in promise) TypeError: item.operation.getContext is not a function`

After doing the following:
1. Load my app
2. Go offline
3. Make some changes offline
4. Refresh
5. Go back online
6. Page fails to load

<img width="735" alt="Screen Shot 2019-08-07 at 12 28 31" src="https://user-images.githubusercontent.com/24867345/62620

[2019-08-07 11:47] MStokluska commented on #145
Hi @milenazuccarelli , which changes are you causing this error? Is this addMessage mutations from the app?
Also, is refreshing the page trying to refresh the link with server, which in this case would not be accessible as you are offline? I might be getting this wrong but isn't offix supporting offline as it stores mutations for later execution ( once u go back online ) while refreshing website r

[2019-08-07 13:13] wtrocki commented on #145
This is a critical bug introduced recently.
Going to take look

[2019-08-07 13:30] wtrocki opened #147 "Persist optimistic response layer and restore it after application restart"

[2019-08-07 16:41] MStokluska opened #149 "Implement terminating link"
## Feature Request
Currently we have HTTP LINK with WEBSOCKET LINK and FILE UPLOAD link, this is causing a challenge to maintain config. It would be great to have a terminating link instead.

[2019-08-07 22:56] wtrocki commented on #147
Investigation needed how this could work.

[2019-08-07 22:58] wtrocki commented on #136
@darahayes Can I ask you to update status here. We have done some research and have now new package added.

[2019-08-08 17:07] #149 closed

[2019-08-08 17:46] wtrocki commented on #136
I think bigger discussion is needed how we can get the API right

[2019-08-08 17:47] #145 closed

[2019-08-12 14:56] StephenCoady opened #159 "Provide a way to clear the cache"
## Bug Report

We currently do not expose any way to effectively clear the application cache.

We should investigate which option is best. We could use persistor.purge().
* **Affected Package(s)**: offix-client
* **Package version(s)**: 0.8.1

[2019-08-13 23:14] loganpowell opened #160 "Consider `dexie` over `idb-localstorage`"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Not a problem, but could be if `idb-localstorage` becomes abandoned

**Describe the solution you'd like**
[`dexie`](https://github.com/dfahlander/Dexie.js/) is a more mature solution with a broader support structure.

**Describe alternatives you've considered**
I realize that you may be familiar with the localst

[2019-08-13 23:17] loganpowell commented on #160
Nevermind. I just realized you are also the author of `idb-localstorage` :D my apologies

[2019-08-13 23:43] loganpowell opened #161 "Can I put `offix` into a Service Worker?"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Would like to use `offix` as the single source of truth for my app online and off

**Describe the solution you'd like**
I'd also like to leverage some of the other features of Service Workers (push notifications, keep scripts - e.g., `offix` persisted across sessions - also uses IndexedDB like `idb-localstorage`

[2019-08-14 08:47] wtrocki commented on #160
@loganpowell Actually this is something we need to do ourselves together with better cache persistence improvements. Back to roadmap

[2019-08-14 12:53] StephenCoady commented on #161
Hi @loganpowell, thanks for reaching out. Would you mind elaborating a little bit with the use cases you envisage? I am trying to discern what advantages it will provide. My experience with service workers is limited but from what I can see (some) of the benefits they provide are automatically handled in `offix` such as network management, background sync'ing etc.

Any information you can provide

[2019-08-14 14:55] loganpowell commented on #161
I was thinking that - since `offix` handles so much of the state managment and offline capabilities, it seemed a natural fit within a service worker as the proxy between the client and server. Some examples of potential I see:
- using `offix` cache persistence as *the* cache for the entire app and all of it's routes
- communicating with native [push notifications](https://developers.google.com/web

[2019-08-17 14:17] skylarkgit opened #162 "Push the mutation query into queue when network error occurs but client is not offline?"
I expected the mutation to be pushed into the offline queue if the device is not offline and a network error occurs. But it just doesn't happen and I can't also find the method to watchOfflineChanges.
[code]

I added the offlineQueueListener here:
[code]

Or may be, am I doing something wrong?

[2019-08-18 19:45] wtrocki commented on #162
Hi @skylarkgit

Thank you for logging this issue. Sorry for getting back to you so late.
I saw your message earlier but wanted to check something before I write a response

TL;DR There is no support for this out of the box but this is possible now with offix.

Generally, only a reliable way to determine if the application is offline is to make call to the server to get some result or relly on the

[2019-08-20 07:34] skylarkgit commented on #162
Thanks, I guess the first solution will work for me.

[2019-08-28 13:41] Hasan-git commented on #71
Any movements ?

[2019-08-28 14:16] wtrocki commented on #71
Optimistic response will work however there could be some issue with the typings.
We are working on rebuilding our entire cache layer that will also include optimistic responses.
I will post more information soon.

To resolve these specific issues please use `as any` for update function and this could work.

[2019-09-06 13:20] JannesV commented on #159
I really need this, when a user logs out the cache should be cleared but now there is no way for me to do so.

[2019-09-06 13:27] wtrocki commented on #159
@JannesV Thank for letting us know. I will action this instantly and we going to include this in next release.

[2019-09-06 13:29] wtrocki commented on #159
For the moment as a workaround you can remove index-db instances directly from the application

[2019-09-06 14:04] JannesV commented on #159
@wtrocki Thanks for the quick response. I currently use the workaround mentioned above. Looking forward to your solution!

[2019-09-06 14:28] #159 closed

[2019-09-06 14:28] wtrocki commented on #159
I will provide notification when this change will be released

[2019-09-17 06:00] wtrocki opened #169 "Investigation for relay support"
Check how offix framework can support relay

https://github.com/facebook/relay/releases/tag/v6.0.0

[2019-09-19 01:43] marceloavf commented on #23
Can I use `offix` with react-native now or it still in development ?

[2019-09-19 09:27] wtrocki commented on #23
@marceloavf Yes. Take look at sample application (really rough one)
@mmusil would document support soon so we will have that in docs.

[2019-09-19 11:07] darahayes opened #171 "Application Crashes When no IndexedDB available"
## Bug Report

* **Affected Package(s)**: offix-client
* **Package version(s)**: all versions
* **Platform (e.g. Android/iOS)**: any platform where IndexedDB is unavailable

It is not possible to create a new `OfflineClient` when IndexedDb is not available. How you can quickly check this: Try to create a new offix client in the Firefox equivalent of incognito mode. In that mode, firefox does not a

[2019-09-19 11:19] wtrocki commented on #171
Initial idea was that you can pass any storage solution into the client for platform theywant to support. For example on Android this can be sqlite etc.
However, this use case is different. Under some circumstances browser itself can reject IndexedDB driver - which is used by default and.. there is no graceful fallback to anything else.

Developers will not be able to detect/handle this as this ca

[2019-09-19 11:33] darahayes commented on #171
I completely agree. Tain problem right now is that there's no way to gracefully handle this. The error that occurs is an unhandled promise rejection that happens inside `idb-localstorage`. Right now there's no way to catch it and prevent the application from crashing.

I really like the suggestion to use Dixie. i think it could be a longer term solution but I think in the short term we need to pat

[2019-09-21 05:44] marceloavf commented on #23
Really nice work put in here @wtrocki, I was a little worried about using Apollo for a most time offline project done with react-native, but seing those package codes made me happy, thank you!

[2019-09-21 07:35] wtrocki commented on #23
We are working now on major improvements to library that will also affect react native. Stay tunned for new update

[2019-09-24 09:24] wtrocki commented on #162
@garsharm `context: {...context, isOffline: true } ` works as we using it in tests. Linked PR cannot be merged as we making now refactor to pass every single change thru the queue - so it will not be required. New release should be happening in coming weeks.

[2019-09-24 09:26] #22 closed

[2019-09-24 09:33] wtrocki commented on #70
So Apollo is working on this feature for some time but without any deadlines or target set yet. To provide valuie for community we will investigate using relay as base that have much better support for offline and pagination.

[2019-09-24 09:35] wtrocki commented on #89
@darahayes Closing as outdated. We going to document that.

[2019-09-24 09:37] wtrocki commented on #118
@darahayes done initial spike for this work and we have proven that persisting optimistic responses is not a good idea due to the fact that they can stay hanging out there for a while.

Proper approach would be to use user-provided store with data and markers to what data was replicated to server.

[2019-09-24 09:37] #118 closed

[2019-09-24 09:38] wtrocki commented on #120
This is already addressed in https://github.com/aerogear/offix/pull/170

[2019-09-24 09:38] #120 closed

[2019-09-24 09:38] wtrocki commented on #120
ping @darahayes

[2019-09-24 09:39] wtrocki commented on #78
@darahayes This aged badly. How about we will use jest for both integration and unit tests.
Unit tests now could be much easier but we still need to have integration tests focused testing due to the complexity of the flow.

[2019-09-24 09:41] wtrocki commented on #85
Done already

[2019-09-24 09:41] #85 closed

[2019-09-24 09:43] garsharm commented on #162
Okay, @wtrocki. Thanks for the quick reply. and a few things I want to clarify regarding the implementation.
 1. as of now  `context: {...context, isOffline: true }` is pushing the mutation in the `offlineQueueListener: {
                onOperationEnqueued: (entry) => {
                    console.log(entry)
                }
            }` but not queuing in offline store array. right? I think b

[2019-09-24 09:45] wtrocki commented on #136
The solution for this will be to make the persistence and restoration process controlled by the user.
We are really close of doing this in current work.

[2019-09-24 10:05] wtrocki commented on #161
@loganpowell There should be no problem of using offix in service worker as both IndexedDB and offline state are provided. Api for both can be different so we will need to provide wrappers.

The problem of offix being in service worker is the problem of using offix client inside the application to make requests.  We are doing now some serious refactor that will simplify many use cases - including

[2019-09-24 10:11] wtrocki commented on #162
@garsharm We are actively working on a feature that will enable that in https://github.com/aerogear/offix/pull/170 but it will take some time to get it released.

[2019-09-24 10:54] darahayes commented on #162
Hey folks, just wanted to jump in here. I don't think I'll be very helpful in providing you a solution that you can use **right now** but I did want to just provide some info on the work I'm doing that may help you in the future.

This is an area we've struggled with. In an ideal world we would do this automatically but the challenge is 'How do we define what is and isn't a network error?' As @wtr

[2019-09-24 11:00] darahayes commented on #89
@wtrocki I'm going to reopen this for the time being and I'll close that once #170  is merged. Otherwise I'll forget to add this to the release notes 😄

[2019-09-24 14:35] garsharm commented on #162
@wtrocki and @darahayes  thank you for the clarification on the issue. I totally agree that API should be easily understandable and accessible.

I will be going through the PR and will be ready to help if needed anywhere.
Cheers!

[2019-09-24 14:37] darahayes commented on #162
Beware it is in a pretty rough state right now. I'm working on introducing a bunch of tests.

[2019-09-24 16:55] loganpowell commented on #161
Hi @wtrocki thank you for following up on this. Since our last exchange, I have had more time to work with service worker and figure out ways to cache graphql requests. I believe the work you've done for conflict reconciliation (not just caching), as well as acting as a graphql client felt to me like you could kill a lot of birds with this, but I definitely don't want to try to fit a "square peg i

[2019-09-24 16:55] #161 closed

[2019-09-24 17:02] wtrocki commented on #161
Thank you so much. No worries. I think we might explore service workers for more comprehensive use cases. For example we can have fully offline website with service worker and offix together.

[2019-09-25 07:04] garsharm commented on #162
no problem :+1:

[2019-09-29 15:20] wtrocki opened #174 "Use apollo-cache-persist-dev in offix-client"
## Feature Request

Package name changed to apollo-cache-persist-dev. Offix-client package needs update in package.json

[2019-10-07 16:06] darahayes opened #187 "[Discussion] How to handle breaking changes to persistent storage?"
## Background

https://github.com/aerogear/offix/pull/170 was recently merged which made backwards incompatible changes to the format of the offline items being stored in the persistent offline store.

This means that when we release a new version of Offix, existing applications that have data in their store will experience issues when they eventually update the version of Offix being used.

From

[2019-10-07 16:38] wtrocki commented on #187
We going to provide release notes with follow up migration path, but developers will need to make a decision on their own:

- Make sure that all data is synced before the update
- Remove no synced data on the update.
- Migrate dataset manually

[2019-10-10 09:05] LakshanKarunathilake commented on #72
Can I work on this issue @wtrocki

[2019-10-10 09:07] wtrocki commented on #72
Assigned. My recommendation would be to keep things simple. Initialize website etc.
See our other project https://graphback.dev

[2019-10-10 09:51] darahayes commented on #72
Hi @LakshanKarunathilake 👋 thanks for showing an interest in our project! If you need advice or have any questions about this issue, feel free to post here and we will do our best to help.

[2019-10-10 10:08] darahayes opened #192 "Refactor any mocha/ava tests to use Jest"
## Background

Each package in `/packages` has a `test` command in `package.json`. Over time our team tried different testing frameworks in different packages but now we are starting to standardise around using Jest.

It would be really beneficial if we could use the one test runner across all packages. For anybody interested in picking up this issue I suggest that the tasks below are worked on in

[2019-10-10 10:17] wtrocki commented on #72
update from chat: We going to create 2 PR's - one with just docs migrated. Second with the webpage style same as https://graphback.dev

[2019-10-10 16:03] dewstend commented on #192
Hi! I would like to try my hand at these.

[2019-10-10 20:06] wtrocki commented on #192
@dewstend Offix server was migrated already but if you have alternative PR feel free to create it.

[2019-10-11 09:10] darahayes commented on #192
Hey @dewstend the first two items in the list have been done but there's still one more if you're interested. We're here to help if you have any questions!

[2019-10-11 14:13] dewstend commented on #192
I investigated a bit, since Jest runs in JSDOM, it is not a trivial thing to run it in the browser, [as briefly stated here](https://github.com/iov-one/iov-core/issues/953#issuecomment-492923122).
There's the issue facebook/jest#848, still open, for that matter.

I've seen a few community libraries that try to achieve Jest in headless, but nothing beyond obscure documentation.
Any suggestions?

[2019-10-11 14:30] darahayes commented on #192
@dewstend thanks for your investigation! So we've actually struggled a lot with those karma tests in the past. They're really hard to debug, the source maps support is kinda bad and the turnaround time to make edits and retest them are pretty bad.

Would you be interested in migrating those tests to use jest directly and we could simply remove karma? We already did some slight refactoring recently

[2019-10-11 14:39] darahayes opened #204 "Add a badge to the readme for the AeroGear GraphQL discord chat"
We recently got started a new Discord for community based chat. Let's add a badge to the README! Simply add this to the README under the title.

[code]

[2019-10-11 15:03] darahayes opened #205 "[Website/Docs] Implement Versioning in our Docusaurus Website"
## Feature Request

Docusaurus has the ability to create versions of the docs. Using a simple command like `npm run version` it will copy all your docs and place them into a folder using the specified version number. This means we can keep the docs for old versions around and then also maintain a master version.

Docusaurus has a guide on versioning. It seems pretty simple to do. https://docusauru

[2019-10-11 15:10] darahayes commented on #205
Ping @LakshanKarunathilake

[2019-10-11 15:16] LakshanKarunathilake commented on #205
Interested in

[2019-10-11 15:34] darahayes commented on #78
Closing in favour of https://github.com/aerogear/offix/issues/192

[2019-10-11 15:34] #78 closed

[2019-10-11 15:39] darahayes commented on #89
Closing this now as #170 is merged.

[2019-10-11 15:39] #89 closed

[2019-10-11 15:44] darahayes commented on #136
Having worked on the offix-client package for sometime, I believe for the time being there isn't much we can do about client.init() being an async function. The main reason for this is initializing the persistence layer is asynchronous.

Additionally, in the context of React I've found that waiting for some state to be asynchronously initialized (such as the apollo client) before passing it into a

[2019-10-11 15:44] #136 closed

[2019-10-11 15:51] darahayes commented on #204
Done in #206

[2019-10-11 15:51] #204 closed

[2019-10-11 19:28] dewstend commented on #192
Is there documentation for the integration tests? I tried analyzing the code but it's quite sizeable, this migration seems like an issue on its own, also considering they are in JavaScript, maybe it would be preferable to standardize TypeScript and possibly using the same `/test/` folder for both tests, and filename conventions for Jest pattern matching like so:
[code]

I investigated further and

[2019-10-11 20:23] wtrocki commented on #192
Technically there will be two elements that are browser specific:

- NetworkState (Mocked in integration tests
- Indexeddb (Also mocked)

So running tests on node should not be a problem at all.

[2019-10-14 09:43] darahayes commented on #192
@dewstend thanks a lot for doing more investigation. @wtrocki made a strong point that in the current 'integration' tests, the NetworkState and IndexedDb interfaces are actually mocked. To us, running the tests in their current form in an actual browser environment adds little to no value. They are also harder to debug and they are written in JavaScript while the rest of the project is TypeScript.

[2019-10-14 10:27] wtrocki commented on #192
In current form this will be task for maintainer. I think we might just create couple smaller tasks for this with hacktoberfest label or do this ourselves

[2019-10-15 09:23] darahayes commented on #72
Done in #199

[2019-10-15 09:23] #72 closed

[2019-10-16 13:57] AdrianJVillalobos commented on #174
Hello, I would like to take this issue at @NovaHelm can you give me more details?

[2019-10-17 10:28] wtrocki commented on #174
You need to change package name in offix-client and offix-offline from apollo-cache-persist to apollo-cache-persist-dev

[2019-10-24 14:12] anfen commented on #23
I've been on the GraphQL bandwagon for a while, and came across Offix, which looks very promising indeed. I tried using Offix with react-native, and experienced the "apollo-cache-persist" bug (above) that @alk831 found.

I'm keen to keep the app inside Expo, so the fix to use '@react-native-community/async-storage' won't work, as Expo provides AsyncStorage from 'react-native'. I didn't want to dup

[2019-10-25 09:37] wtrocki commented on #23
@anfen For auth - you can pass terminating link  (http link have headers property).
see https://github.com/aerogear/offix/blob/master/docs/ref-release-notes.md#ability-to-customize-apollo-link-chain

The actual storage package do not matter that much. To support react-native AsyncStorage (as an opposed community) the same code can be used in app:
https://github.com/wtrocki/offix-react-native-sampl

[2019-10-25 12:15] anfen commented on #23
Thanks for the auth explanation, and responding so quick. I tried the AsyncStorage example you referred to, but it returned an error, so I thought I would wait for the major improvements you mentioned.

I can try it again and report back with what I find. Before I do, how far are you with the improvements... should I hold off until then? I'm happy to contribute if there is a need (I'm a react/reac

[2019-10-25 12:21] wtrocki commented on #23
Actually having error will be really helpfull. I'm not big fan of expo so having supported both expo and rn-cli will be awesome. Once we have it we can instantly add them to docs.

[2019-10-25 12:24] wtrocki commented on #23
Worth to note. Our React native support is the same as:
https://github.com/apollographql/apollo-cache-persist/ support and their docs can be used to validate it.

[2019-10-25 12:38] anfen commented on #23
I'm going to sound like a broken record, so apologies... "how far are you with the major improvements you mentioned" :)

I'd love to contribute, and Expo has come a long way, but I don't want to fix something that you may be working on.

[2019-10-25 12:49] wtrocki commented on #23
@anfen This is completely unrelated. We are going to release new major change next week, however for both ReactNative support will not change - this will be just oportunity to improve documentation and add some `platforms` tab that will have:

- Web
- Ionic/Capacitor
- React Native

[2019-10-25 13:11] austincunningham opened #216 "[Website/Docs] hidden elements appearing on website and favicon not rendering"
## Bug Report

### Steps to reproduce
- Go to
https://offix.dev/#/getting-started
- You should see something like
![image](https://user-images.githubusercontent.com/16667688/67573637-bcd3d180-f730-11e9-8627-e526c61bc296.png)

- Seeing these hidden elements rendering on the site
https://github.com/aerogear/offix/blame/master/docs/getting-started.md#L1-L5

- Look at the tab
favicon not rendering

[2019-10-25 14:11] anfen commented on #23
Fantastic news. I will identify the Expo\react-native issue, and report back. Have a good weekend!

[2019-10-25 16:04] wtrocki opened #218 "Abstraction for local storage and different state providers"
## Target

Investigate and implement ability to work with different state providers like luna.js etc. Target is to see if we can detach state from graphql network requests and do not use Apollo Cache providers. We need ability to give developers control when cache and network is used and detach data access from graphql queries.

## Phases

### Investigate available options

State providers that ca

[2019-10-25 16:09] LakshanKarunathilake commented on #205
#217

[2019-10-25 18:20] austincunningham commented on #216
Not seeing the same issues when built locally, running
https://github.com/aerogear/offix/blob/9b38c18379a1767057baeac608993e1a2805fba2/website/package.json#L4
happy to close.

[2019-10-25 18:20] #216 closed

[2019-10-26 17:05] wtrocki commented on #218
FYI @LakshanKarunathilake

[2019-10-28 11:45] anfen commented on #23
I used the code from here [https://github.com/wtrocki/offix-react-native-sample/blob/master/offixapp/App.js#L12-L21](url) to test OfflineClient with react-native\Expo.

The storage part of the code uses:
`import AsyncStorage from '@react-native-community/async-storage';`
but Expo must use:
`import { AsyncStorage } from 'react-native';`

The result causes data corruption during setItem(), by saving

[2019-10-29 12:33] wtrocki opened #219 "Document react native support"
## Task

Document react native support that will be included in the new page.
See https://github.com/aerogear/offix/blob/master/docs/react-native.md

The main target is to describe storage and network interface requirements.
See #23 for more context.
Document both react native community version and expo using react native storage version as well.

[2019-10-29 12:34] wtrocki commented on #23
Amazing work. I think we need to simply document that use case.
I have created separate hacktoberfest issue so you can just put all this information into our docs and get t-shirt for it.

see https://github.com/aerogear/offix/issues/219

[2019-10-29 12:36] wtrocki commented on #219
CC @darahayes Required for release.

[2019-10-30 23:01] wtrocki opened #222 "Apollo Client 3.0 verification"
Verify features of the Apollo Client 3.0

[2019-11-01 08:28] darahayes commented on #205
New website is live! https://offix.dev/

[2019-11-01 08:28] #205 closed

[2019-11-04 09:37] #192 closed

[2019-11-08 13:11] wtrocki opened #235 "Enable URQL integration to new Scheduler API"
## Feature Request

URQL is an client that offers the same features as Apollo Client.
The only outstanding feature is missing cache persistence (https://github.com/FormidableLabs/urql-exchange-graphcache/issues/61)

We should provide separate offix package that will integrate with URLQ client to deliver offline and conflict capabilities out of the box.

[2019-11-08 13:27] wtrocki opened #236 "Enable integration with Relay Modern using new scheduler API"
## Feature Request

Relay modern integration using scheduler API.
Investigation what will be involved and what features will be missing initially.

[2019-11-08 13:32] wtrocki commented on #222
I have done an initial investigation of how this will work and current beta will not have any breaking changes. However there is still unclear how we going to migrate as Apollo merged all libraries into client what hopefully will not be released in official release (as it will not allow anything else than react to work).

We going to monitor situation and once Apollo-client/common package will be

[2019-11-08 13:33] wtrocki commented on #222
Most of the focus could be on dataIdFromObject - that is used for conflict.
UpadateQuery and localState.

[2019-11-12 00:36] wtrocki opened #242 "Implement helper for querying data when offline"
## Motivation

When making queries developers still need to have access to network state just to select proper fetchPolicy. We should provider the helper query method that sets fetchPolicy to cacheOnly when offline.

# How

[code]

[2019-11-12 00:38] wtrocki commented on #242
For context see: https://medium.com/@wtr/data-query-patterns-for-graphql-clients-af66830531aa

[2019-11-14 16:41] b1zzu opened #248 "TypeError: Cannot read property 'conflictInfo' of undefined"
## Bug Report

Stack trace:
[code]

most probably my server is returning an error, but the `getConflictData()` is trying to read the `conflictInfo` and it fails, because it is not a conflict error, and at the same time hide the real error

* **Affected Package(s)**: offix-offline
* **Package version(s)**: 0.8.2
* **Platform (e.g. Android/iOS)**: jest
* **Platform Version**: 24.0.22
* **Cordova Ver

[2019-11-15 12:52] b1zzu opened #252 "Improve documentation for subscriptions"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I have problems in understanding how to use the offix subscription helper methods, and I think that the documentation around subscriptions is outdated, for example, the `wsUrl` options, seems to not exist anymore, but is still documented.

**Describe the solution you'd like**
I would like to see some full workin

[2019-11-15 16:03] darahayes commented on #252
Hey @b1zzu, we used to have the `WebsocketLink` being set up inside the `OfflineClient` but we got many complaints because some people didn't need it and others wanted to configure it themselves. We no longer set it up at all. Instead we provide a [`terminatingLink` option](https://offix.dev/docs/client-configuration). You can use this to achieve what you need. The code for it would look something

[2019-11-15 16:44] b1zzu commented on #252
Thanks, @darahayes! but what about the `createSubscriptionOptions` helper? Are u going to remove also that one?

[2019-11-16 13:06] wtrocki commented on #252
Subscriptions need to be documented.
Mostly by mentioning offline patterns and helpers we provide.

[2019-11-18 10:23] darahayes commented on #252
@b1zzu TL;DR - we do not set up subscriptions anymore but `createSubscriptionOptions` is being kept for the time being. However it will need to be reviewed now that Apollo 3.0 is out/

To add context to @wtrocki's reply. `createSubscriptionOptions` is a helper function that returns some options containing special cache `update` functions that help keep things in the Apollo cache properly maintaine

[2019-11-18 10:27] #248 closed

[2019-11-18 12:16] b1zzu opened #255 "Migrate to ESLint"
## Feature Request

The typescript team has opted of eslint as main linter for typescript and the tslint community will very soon drop all work on tslint in order to focus all efforts on eslint, therfore if we want to remain up-to-date in the future we also should migrate to eslint.

More details and migration status info here:  https://github.com/palantir/tslint/issues/4534

[2019-11-18 12:25] b1zzu commented on #252
Thanks for the explanation, but the question now is if it would make sense to update the documentation with the information you give me? We could also add @darahayes  example in the documentation.

Or should we postpone this work until we don't have a clear idea of how Apollo 3 will look like?

Wdyt?

[2019-11-18 14:34] wtrocki commented on #252
@darahayes Let's add this to roadmap after integration with Apollo 3.0

[2019-11-19 10:00] darahayes commented on #129
Happy to finally report that the initial version of `offix-scheduler` was released in [0.10.0](https://github.com/aerogear/offix/releases/tag/0.10.0) and that `offix-client` is now using that under the hood 🎉

[2019-11-19 10:00] #129 closed

[2019-11-19 10:22] darahayes commented on #162
Just wanted to post an update here. We've had two releases since this issue was first opened. It should be now possible to requeue the failed operation if that is something you wish to do. As an example you could probably do something like this.

[code]

Admittedly, the API here isn't great and could possibly be refined. Since the [0.9.0](https://github.com/aerogear/offix/releases/tag/0.9.0) relea

[2019-11-19 10:24] wtrocki commented on #162
@darahayes Having this comment ported to documentation will be amazing.
This is very common use case. Separate chapter that will have exactly the same text will do wonders

[2019-11-19 10:43] darahayes commented on #162
@wtrocki this does all come back to a topic we've talked about before. Should we schedule every single operation regardless of being online/offline?

I think we need to think about it more seriously and try to understand the challenges. The issue that comes to mind is how to handle a bad operation that will never be fulfilled. We would need some way to flush that automatically or we would need to

[2019-11-19 10:49] darahayes commented on #69
@Hasan-git since the [0.9.0 release](https://github.com/aerogear/offix/releases/tag/0.9.0) it's now possible to directly pass in your own `InMemoryCache` instance into `OfflineClient`.

[code]

We haven't got many test cases around how OfflineClient will behave using different cache instances with custom configs. If you could try that out and let us know how it works for you that would be great. I

[2019-11-19 11:11] wtrocki commented on #69
Also worth note that we going to integrate with the Apollo 3.0  in upcoming releases that address pagination issues.

[2019-11-19 11:16] wtrocki commented on #162
We had this concept initially that attached numer of unsuccessful requests to operations and allow developers to configure that. We have ported that to retry-link that is being used for scheduler now. Retry link provides great number of defaults for this purpose and it can be configured to encompass a number of the use cases.

Rescheduling with mixture of the offline and online changes is risky bu

[2019-11-19 11:18] wtrocki commented on #162
TL;DR - Agreed that this needs more oversight to get into docs.

[2019-11-19 11:22] darahayes commented on #255
Thanks for this. This would be really nice to have but is probably low on our list of priorities right now. I'm more than happy to provide guidance if anyone wants contribute.

[2019-11-19 11:32] darahayes commented on #147
For now the agreed approach has been to rebuild the optimistic responses after an app restart. I'm going to close this for now but we can reopen it later if needed.

[2019-11-19 11:32] #147 closed

[2019-11-19 13:11] wilmervanheerde opened #259 "Support for local typeDefs and resolvers"
I'm using a local GraphQL schema with client-only queries to achieve [local state management](
https://www.apollographql.com/docs/react/data/local-state/) using Apollo.

Since ApolloClient gets initialized by Offix itself, and there is no way to provide additional `typeDefs` and `resolver` options in the config I'm wondering if this is even possible using Offix?

Here is an example of the options

[2019-11-19 14:16] darahayes commented on #259
@wilmervanheerde thanks for raising this issue, this is a really valid point.

I totally agree. I'm going to investigate how we can support that while also keeping in mind that we initialise the client ourselves with a couple of things that we absolutely need in order for things to work properly. (Mainly the cache and some links). I will report back soon.

It's not ideal but as a workaround, you m

[2019-11-20 09:17] wilmervanheerde commented on #259
Thanks for the quick and detailed response! The workaround you suggested is what I considered, but it might give some side effects. I can't say so much about this but I think the execution and caching of local queries will have to be kept in mind

It would be awesome to see this implemented at some time :smile:

[2019-11-20 09:56] wtrocki commented on #259
Simplest way to do that will be to extract create client to separate abstract function:
https://github.com/aerogear/offix/blob/master/packages/offix-client/src/OfflineClient.ts#L139-L142

When this is done developers can simply extend client and provide their own `createClient` implementation. This is very small change with a lots of benefits.

[2019-11-20 10:38] darahayes commented on #259
+1 on this idea @wtrocki it's a quick and maintainable way to get there. There will be a small requirement on the user's part that they include the appropriate cache and link. I'm happy enough that we can document it and it gives users what is needed.

[2019-11-20 10:47] wtrocki commented on #259
See #263

[2019-11-26 15:50] b1zzu opened #269 "Migrate offix-client integration tests to Jest"
## Enhancement

I'm opening this issue in order to track the migration of the integration tests from karma to jest.

I know part of the work is already done, but from what I've noticed is not yet completed.

As part of this migration, we could also start using [graphq-testx](https://www.npmjs.com/package/graphql-testx)

[2019-11-26 15:51] b1zzu commented on #269
@darahayes @wtrocki I have time to look into this issue and finish the migration, but I'm not sure what's the current status

[2019-11-28 16:26] darahayes commented on #259
Hey @wilmervanheerde so sorry for taking this long to get back to you. Your issue actually motivated us to go ahead and do some work that we've been planning on doing for a long time.

Previously, the `OfflineClient` class was a wrapper that would internally create an `ApolloClient` and then you could get access to it afterwards. The flow looked something like this.

[code]

And of course, your is

[2019-11-29 08:27] wilmervanheerde commented on #259
Thanks for picking this up so early, the new changes look awesome!

[2019-12-01 11:45] kunaldodiya opened #273 "How to set apollo-cache-persist options like maxSize, debug, debounce, trigger"
How to set apollo-cache-persist options like maxSize, debug, debounce, trigger in react native app ?

[2019-12-01 20:51] wtrocki commented on #273
Sadly there is no public api for that but it is very easy to do it.

Persistor is public so.. you can set new Persistor with custom options:
https://github.com/aerogear/offix/blob/master/packages/offix-client/src/ApolloOfflineClient.ts#L52-L58

Swapping persistor needs to happen before calling init function as it is used there:
https://github.com/aerogear/offix/blob/master/packages/offix-client/sr

[2019-12-02 10:43] kunaldodiya commented on #273
Thanks, I will try and let you know

[2019-12-02 11:55] kunaldodiya opened #274 "Network Request Failed when offline"
If I am not wrong, this package add support for offline mutation but as soon as i switch off my internet and force restart app it shows this, how can i handle this error ?
![WhatsApp Image 2019-12-02 at 5 24 20 PM](https://user-images.githubusercontent.com/7272013/69957464-c23eeb80-1528-11ea-9c66-cd6d32903851.jpeg)

[2019-12-02 11:56] kunaldodiya commented on #274
Can you please provide a sample React native app with offline mutation, persist cache using sqlite or asyncstorage that work 100% offline

[2019-12-03 09:24] darahayes commented on #274
Hey @kunaldodiya thanks for logging an issue. I'm afraid this error doesn't really provide any information that can help me understand the problem. Do you have a repo with your code that I could try out? I might be able to find the issue if I can look at the code.

Please also see this previous issue where a couple of steps to use `offix-client` in react native were mentioned https://github.com/ae

[2019-12-03 09:33] wtrocki commented on #274
Sample application: https://github.com/wtrocki/offix-react-native-sample

[2019-12-03 11:38] kunaldodiya commented on #274
just created a demo app https://github.com/kunaldodiya/offix-demo

[2019-12-03 23:51] wtrocki opened #278 "Offix hooks not working with the react native when using react package"
See: https://github.com/aerogear/offix-react-native-example/pull/4

<img width="367" alt="Screenshot 2019-12-03 at 23 47 26" src="https://user-images.githubusercontent.com/981838/70099819-dddceb80-1627-11ea-937a-4f2b72d5450e.png">

[2019-12-04 01:52] wtrocki commented on #23
Update on this. We have provided docs and example application for react native.

I have found wrappers that will work with both expo and react cli.

[2019-12-04 01:52] #23 closed

[2019-12-04 01:52] wtrocki commented on #278
Done

[2019-12-04 01:53] #278 closed

[2019-12-04 01:55] wtrocki commented on #274
We have provided docs and sample app
https://offix.dev/docs/next/react-native

[2019-12-04 02:16] wtrocki commented on #274
O have checked your example app and after applying wrappers from docs things work for me. However I needed to remove other links - maybe problem is with them?

Since docs and sample all exist now I'm going to close this issue, however if you will still see this problem feel free to reopen it.

Thank you so much for improving offix

[2019-12-04 02:16] #274 closed

[2019-12-04 02:17] wtrocki commented on #273
@darahayes IMHO we might need to document this issue

[2019-12-04 02:18] wtrocki commented on #269
@darahayes Can you drop the plan for this. Do we still want to do it?

[2019-12-04 02:19] wtrocki commented on #259
Changes landed in 0.11.0 release.
@darahayes lets update docs to the new api.

[2019-12-04 02:19] #259 closed

[2019-12-04 02:20] wtrocki commented on #242
This will be trivial change since we extend apollo client now. @darahayes WDYT about it?

[2019-12-04 02:23] wtrocki commented on #23
Docs:
https://offix.dev/docs/next/react-native

This is pointing to master. We going to land it in 0.12.0 release

[2019-12-04 02:25] wtrocki commented on #174
Very simple issue. Must have for 0.12.0

[2019-12-04 09:03] b1zzu commented on #269
@wtrocki As we have discussed with @darahayes we are going to keep the tests in Karma. I think we can close this issue.
https://github.com/aerogear/offix/pull/271#issuecomment-559759574

[2019-12-04 09:58] #269 closed

[2019-12-04 15:01] JaEdmuva opened #281 "Add persistor options in ApolloOfflineClient constructor"
## Feature Request

**Is your feature request related to a problem? Please describe.**
I'm using v0.11.0. It is not possible to specify persistor options in the `ApolloOfflineClient` constructor. When using with react native, it is necessary to use a 'wrapper' to force serialization of data saved in AsyncStorage since the default options passed to the persistor has the `serialize` option value as

[2019-12-04 15:07] wtrocki commented on #281
Ah.. right. We kinda provided workaround for that.
Please see official docs: https://offix.dev/docs/react-native

We detect if object is string or object, but that will be much better approach.
As for persistor itself. This is the second issue like that.
It is possible to provide persistor (using undocumented api).
See here: https://github.com/aerogear/offix/issues/273

So TL;DR

1. We going to fi

[2019-12-04 15:46] JaEdmuva commented on #281
@wtrocki about item #3. Yes, I can provide my own persistor, in fact I do. But there is an issue with that, which I do not fully understand yet. The thing is that when you first create the ApolloOfflineClient, you create a persistor with `serialize: false` and It doesn't matter if I later define my own, it is already created.
Then (and it's my guess) the time comes when the first persistor still t

[2019-12-04 17:03] fillipvt opened #282 "Next.js example"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Not a current problem per se. Mainly looking for information/exemplification.

**Describe the solution you'd like**
Mainly I'd like to know how Offix would integrate with Next.js under the Zeit Now 2.0 serverless paradigm. This is because I've been looking for different options to make the queries/mutations from

[2019-12-04 17:15] wtrocki commented on #282
Currently, offix is using a similar concept as apollo-cache-perist where queries need to technically happen. SSR concept kinda kills the offline capabilities on their own as if you do not have access to server you simply do not see things there. Obviously there can be some layer of service workers available here but then we also do not need expensive offline support as modifications happen on serv

[2019-12-04 22:46] wtrocki opened #283 "Validate config at runtime"
## Feature Request

Idea is to use runtime interface checker for js code

https://github.com/gristlabs/ts-interface-checker

**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative soluti

[2019-12-05 09:15] darahayes commented on #281
@JaEdmuva we'll definitely work on allowing you to pass down the persistor options  through the constructor. In the meantime did you try following the steps for passing in a custom storage mechanism in our react native document? This storage mechanism might help you get past the error you are seeing. See https://offix.dev/docs/react-native#integration

[2019-12-07 04:17] kunaldodiya opened #293 "Add support for useQuery and useMutation for react-offix-hooks"
Add support for useQuery, useMutation and useSubscription for react-offix-hooks,

currently it has only useOfflineHooks but for queries we need to import from original react-hooks, managing hooks from 2 different library is cumbersome, please add support so that we can import all in one library :)

[2019-12-07 09:07] wtrocki commented on #293
That will be our no1 priority for next release.

[2019-12-11 20:31] wtrocki commented on #293
Ping @darahayes

[2019-12-11 20:33] wtrocki commented on #282
I have done some reading and in fact this is pretty much doable and documented in Apollo. Server sets initial state for cache and storage should handle it nicely. We will look how we can enable this feature but this is not going to land to the next offix release.

[2019-12-11 21:33] fillipvt commented on #282
This is great! Thank you, looking forward to it.

[2019-12-12 09:55] darahayes opened #298 "[conflicts] base calculation doesn't work with custom id fields"
## Bug Report

Based on how this code is called: https://github.com/aerogear/offix/blob/76a0ee76fa69962d4db571165fcb2a9cf65d9247/packages/offix-client/src/apollo/conflicts/baseHelpers.ts#L55

When custom a `idField` is used then the base will not be retrieved.

* **Affected Package(s)**:
* **Package version(s)**:
* **Platform (e.g. Android/iOS)**:
* **Platform Version**:
* **Cordova Version**:
* *

[2019-12-13 03:29] kunaldodiya opened #299 "Does not work well with expo"
Both @react-native-community/netInfo and   @react-native-community/async-storage gives error while using with react-native-web with Expo

step to produce
1) create react native app using expo init myApp
2) add offix client
3) run expo start:web

[2019-12-13 08:50] wtrocki commented on #299
Hi

I looks we forgot to mention that for expo you need to swap packages to react native ones. See #23 for more context. We will add that info to docs

[2019-12-16 12:00] wtrocki opened #302 "Links in docs config page are broken"
https://offix.dev/docs/client-configuration

[2019-12-16 12:07] #298 closed

[2019-12-16 12:10] darahayes commented on #219
Released in [0.12.0](https://github.com/aerogear/offix/releases/tag/0.12.0)

[2019-12-16 12:10] #219 closed

[2019-12-16 12:11] wtrocki commented on #31
Fixed

[2019-12-16 12:11] #31 closed

[2019-12-16 12:15] darahayes commented on #69
Closing this for now as it's possible to create and configure your own cache instance. Feel free to reopen if needed.

[2019-12-16 12:15] #69 closed

[2019-12-16 12:16] wtrocki opened #303 "OFFIX 1.0 ROADMAP"
## Roadmap

The roadmap is still in progress

- [x] New React example app based on Offix + Graphback #324
- [x] React Native Example App
- [ ] General bugfixing and stabilizing the API
- [ ] Apollo 3.0 #222
- [ ] URQL enablement #235
- [ ] Stabilise storage implementation #325
- [ ] Improve Docs and Landing Page

[2019-12-16 14:40] darahayes commented on #299
Hi there, as @wtrocki mentioned we will add an extra note to our documentation about this particular issue with Expo. According to this Github issue (https://github.com/react-native-community/react-native-netinfo/issues/124) it should be possible to use the `react-native-community` packages starting with expo sdk version 33 and above. Which version of expo are you using? Thanks.

[2019-12-16 14:51] darahayes commented on #299
Ahh my bad, I did some further research. It seems the `@react-native-community/netinfo` works in expo but the `@react-native-community/async-storage` one does not. Updating the docs accordingly. Thanks for logging this issue!

[2019-12-16 15:13] #302 closed

[2019-12-16 15:51] #299 closed

[2019-12-16 15:51] darahayes commented on #299
Feel free to open again if necessary!

[2019-12-17 13:08] wtrocki commented on #303
@darahayes let's add additional items you would see us to execute

[2019-12-17 14:54] kunaldodiya commented on #299
Hi, thanks for resolving issue, but I am still having issue with netinfo package, please not that when using device it works fine, but when using browser (react-native-web) does not work at all,

this is my offix client

[code]

after setting up this with expo, i am simply running command expo start --web which does not work

[2019-12-17 15:05] wtrocki commented on #299
Looks like react native web using different api. For react native web you can actually use existing browser api that is already embedded in offix. So I guess having codebase that enables them depending on target will be the best solution for your own needs.

Offix works with web without any special configuration - for native rn we need those wrappers but only for native ones.

[2019-12-17 15:35] kunaldodiya commented on #299
can you please provide example code for both web and native together ?

[2019-12-17 15:40] wtrocki commented on #299
React Native -> requires extension that are documented
Web -> requires no extensions - all should work

To switch between platform see: https://facebook.github.io/react-native/docs/platform-specific-code#__docusaurus

[2019-12-20 12:55] wtrocki commented on #174
We might also check if it will be possible to use: https://morrys.github.io/wora/docs/cache-persist
This package offers filtering capabilities and subscriptions

[2019-12-20 13:46] LakshanKarunathilake opened #309 "Ionic Capacitor support"
## Feature Request

**Problem :**  Sample Integration of Ionic + React + Offix
Combining the Ionic 4 with React including the Offix

**Solution**
Combining some existing plugins and write a new plugin for Capacitor

@darahayes @wtrocki

[2019-12-20 15:07] wtrocki commented on #309
Awesome idea.

[2019-12-23 11:21] wtrocki commented on #309
Quick verification of the app showed me that to support capacitor we will need to map network interface to the one we are using: https://capacitor.ionicframework.com/docs/apis/network

Doint this will make offix work with capacitor
[code]

[2019-12-23 11:22] wtrocki commented on #309
This can be resolved by documentation or we can simply add capacitor target to our showcase app (It will require updating ionic and typescript versions)

[2020-01-08 17:10] wtrocki commented on #6
Small update for this.
Our team took this requirement as key competency that we need to enable by the end of the 2019.
We knew that we not going to be able to do it without solid base (same way that AWS app sync have done it)

Currently, we have:

- Build Offix Library as a generic offline focused client that also supports generic conflict protocols.
Offix has scheduler approach now

- We build a

[2020-01-14 09:58] NGambini opened #323 "Documentation is down"
https://offix.dev/ is down for me.

[2020-01-14 10:08] wtrocki commented on #323
@NGambini Thank you so much for reporting. I have fixed the problem.

[2020-01-14 10:09] #323 closed

[2020-01-14 10:09] wtrocki commented on #323
CC @darahayes

[2020-01-14 12:07] darahayes commented on #281
@JaEdmuva we recently merged and released https://github.com/aerogear/offix/pull/306 which allows you to create your own `CachePersistor` object and pass it into the `OfflineClient` constructor. You can check the PR description or [the client configuration docs](https://offix.dev/docs/client-configuration#cachepersistor) to learn how to do it. It can be used with version `0.13.1`

[2020-01-14 12:08] darahayes commented on #281
I'm going to close this issue now, but please do not hesitate to reach out again with any more questions or feedback.

[2020-01-14 12:08] #281 closed

[2020-01-14 12:10] darahayes commented on #273
@kunaldodiya we recently merged and released https://github.com/aerogear/offix/pull/306 (in version `0.13.1`) which allows you to create your own `CachePersistor` object and pass it into the `OfflineClient` constructor. This should let you set whatever options you require for cache persistence. You can check the PR description or [the client configuration docs](https://offix.dev/docs/client-config

[2020-01-14 12:10] #273 closed

[2020-01-14 12:18] darahayes commented on #293
@kunaldodiya One of the main reasons we did it this way is because `@apollo/react-hooks` is not the only React hooks library available for Apollo Client. As a team we decided to provide our own implementation for the offline functionality and then allow users have the flexibility to choose which pre existing hooks library they want for all other operations (mutations, queries, subscriptions) and n

[2020-01-14 12:18] #293 closed

[2020-01-14 14:32] darahayes commented on #303
I'm +1 on the URQL enablement. By integrating another GraphQL client we will improve and solidify the scheduler implementation and it will provide additional choice for users and it derisks our dependence on Apollo.

I'm also +1 for Apollo 3.0, this is obvious.

I have two additional items I'd like to add. Tl;DR

1. A new more maintainable showcase app using Offix + Graphback together
2. Solidify

[2020-01-14 16:37] darahayes opened #324 "Create new example app that uses Offix + Graphback"
The [ionic-showcase](https://github.com/aerogear/ionic-showcase) app historically was built to demonstrate use cases coming from several 3rd party services. As a result, the GraphQL client and server implementations are there but with a bunch of additional baggage.

The way the client is being used is also based on how the client historically worked in much earlier versions. Even though Offix has

[2020-01-14 16:40] darahayes opened #325 "Stablise the storage implementation"
We've had lots of issues around storage.

https://github.com/aerogear/offix/issues/187
https://github.com/aerogear/offix/issues/218
https://github.com/aerogear/offix/issues/171
https://github.com/aerogear/offix/issues/160

I think we need to review the storage mechanism we have right now and make a decision about a couple of things.

* Do we stick with idb-localstorage and improve it or do we move

[2020-01-15 10:10] darahayes commented on #303
I think we should add more comprehensive React Native support for 1.0.

Right now, there is some support but it's not very comprehensive. Users are using some code snippets/hacks to get cache/storage/networking working. I think for version 1 we need to evaluate the state of Offix within react native and see what could be improved.

We might take those code snippets and turn them into packages that

[2020-01-15 10:14] wtrocki commented on #303
+1 on having some general issue around it and we can come with the plan together with the @mmusil

[2020-01-15 10:46] darahayes commented on #169
Going to close this in favour of #236

[2020-01-15 10:46] #169 closed

[2020-01-16 11:26] darahayes commented on #324
On the web side: To keep the examples very lightweight in terms of setup/build/configuration we might be able to use parcel for building and running them. This would allow us and users to focus on the actual code examples and not on the complexities of how to build and bundle a web application. https://parceljs.org/getting_started.html cc @kingsleyzissou

[2020-01-16 14:24] kingsleyzissou opened #329 "Code coverage issue"
## Bug Report

There seems to be an issue with the project code coverage. The code coverage is only being run on the jest config files for each of the packages. The result is that the code coverage is coming back as 100%.

![Screenshot from 2020-01-16 14-23-36](https://user-images.githubusercontent.com/20438192/72532761-dd14b780-386b-11ea-9090-c1cf5ce6c48b.png)

[2020-01-16 14:53] kingsleyzissou commented on #255
Fixed in pr #328

[2020-01-16 14:53] #255 closed

[2020-01-16 15:06] darahayes commented on #329
So this issue was introduced when we migrated our tests from `mocha` to `jest` some time ago.

Back then we used `mocha` as a test runner and `nyc` to do code coverage collection. You will notice that nyc is still referenced in our repo.

It turns out that jest has code coverage capabilities built in https://jestjs.io/docs/en/configuration.html#collectcoverage-boolean

Perhaps we just need to enab

[2020-01-17 10:44] wtrocki commented on #324
Assigning to @kingsleyzissou to come up with more granular work after discussion

[2020-01-20 19:25] antoineol opened #333 "Optimistic cache update example with Hasura"
## Feature Request

**Is your feature request related to a problem? Please describe.**

Is there a way to have an example of optimistic cache updates using [**Hasura**](https://hasura.io/) as graphql server (and React hooks for client)? Hasura's usage of subscription is a bit different from what we have in typical Apollo server examples. It's similar to Firebase: it pushes the full, updated data l

[2020-01-20 21:25] wtrocki commented on #333
I was actually reading today about hasura subscription model. Generally we are supporting automatic cache updates by using subscribeToMore method. Hasura follows the GraphQL spec so there should not be a difference between Apollo - we can use any client with hasura. Their examples base on Apollo.

The real issue here might be that offix by default do not apply automatic cache updates for subscript

[2020-01-21 09:16] antoineol commented on #333
Thanks for your answer! For optimistic, yes I was thinking about mutations (and subscriptions should push the updated list after the mutation). A full sample app may not be required, just the key code with the mutation and its options should be already very helpful.

In case it can help, I created a sandbox for another issue with a sample Hasura app: https://codesandbox.io/s/apollo-subscription-wi

[2020-01-21 10:46] wtrocki commented on #333
@antoineol Amazing response. Thank you so much for going back with so much details. I we will need some time to get thru this and come up with something that we can put into documentation.

CC @darahayes

[2020-01-21 14:40] wtrocki opened #334 "How to support offline handlers with the offset"
## Feature Request

When implementing pagination we usually wrap the top level types into some container to get the field offset etc. Current offix API do not work with pagination due to the need of passing root type as return. We should enable capability of wrapping objects into pagination container that is well defined and recognized when making queries so we can effectively store elements in th

[2020-01-22 12:57] kingsleyzissou opened #338 "Remove offix cache dependency from offix scheduler"
## Bug Report

Remove offix-cache dependency the offix-scheduler package. The cache dependency is not being used at all, so this dependency should be removed.

* **Affected Package(s)**: offix-scheduler

[2020-01-22 14:13] kingsleyzissou commented on #171
This issue was fixed in pr #337

[2020-01-22 14:13] #171 closed

[2020-01-24 18:35] aarshaw opened #340 "Example of how to restore offline changes"
Struggling with how to restore offline changes so that they reflect on the UI.

The following offline mutation saves the data to the offline store and reflects immediately on the UI - however when I refresh the page the changes are no longer reflected.
[code]

I've read through the docs and came across `mutationCacheUpdates` which looks as if it's designed to do the trick but I can't work out for

[2020-01-24 19:29] darahayes commented on #340
Hey there, thanks for logging an issue. When you first perform the offline mutation, you will see the changes exactly as you described. To provide a little explanation - what's happening is a generic `update` function and `optimisticResponse` are being applied to the Apollo Cache. The update function tells the client how your changes should land in the cache. (e.g. you updated something, or create

[2020-01-24 19:39] darahayes commented on #340
The `getUpdateFunction` is a helper that returns you a generic cache update function that will work for simple enough cases like creating, updating and removing items in a list but when you have more advanced cases you'll need to write your own update function that you'd supply in your mutation and in the `mutationCacheUpdates` also.

Hopefully that makes sense! I think we have some of this docume

[2020-01-27 15:19] wtrocki opened #342 "CRUD subscriptions should support filtering"
## Feature Request

CRUD subscriptions should support filtering. Currently, we deliver all updates that are happening.

[2020-01-27 18:38] bdbch opened #344 "Optimistic Response is not generated while offline or bad internet connection"
## Bug Report

Hey, awesome project! I used a custom written wrapper for our offline support before but switching to a maintained project is way better.

I implemented offix in our messaging app and everything seems to work fine but I can't get our optimistic response to work. The problem is that everytime I try to send a message into a chat while I'm offline it does not generate the optimistic UI

[2020-01-27 20:39] wtrocki commented on #344
Hi

If your response is the same or similar to your input offix will generate it. There is no need to pass update function and optimistic response. For more info check our docs: https://offix.dev/docs/offix-cache

However if your case requires custom update and optimistic response I will look for the issue in `sendMessageResponse` that were not included in snippet. You should see this method calle

[2020-01-27 20:52] wtrocki commented on #344
For custom optimistic response and update method please check this chat app build with old version of offix:

https://github.com/aerogear-attic/chat-app/blob/master/client/src/components/ChatRoomScreen/index.tsx#L130

[2020-01-28 10:41] bdbch commented on #344
Thanks! I'll look into that and report back if that helped me solving my issue.

[2020-01-28 12:34] bdbch commented on #344
You were right, I had a problem in my `sendMessageUpdate` function. It works again. As I can see offix does not cache the update functions between app sessions so when I restart the app while offline, the update functions are gone right?

https://offix.dev/docs/offline-client#global-update-functions

The documentation here isn't really clear. Do you have an good example on how those global update

[2020-01-28 12:43] darahayes commented on #344
@bdbch glad to hear you got to the bottom of that problem. With regards to the restoring optimistic responses problems. We had another user create an issue on the same topic and I left some tips there. Can you check my comments in https://github.com/aerogear/offix/issues/340 and see if there are helpful in any way?

[2020-01-28 12:45] wtrocki commented on #344
We need this as part of the sample app and copy-paste your comment to the docs.
I fully agree that our docs in that area are very unclear.

[2020-01-28 13:25] bdbch commented on #344
Thanks! I'll take a look into your tips @darahayes.

@wtrocki is the documentation on github as well?

[2020-01-28 13:27] wtrocki commented on #344
We have documentation on the website http://offix.dev
Source code for that documentation can be found here: https://github.com/aerogear/offix/tree/master/docs

We are happy to accept contributtions

[2020-01-28 13:31] bdbch commented on #340
@darahayes thanks for the explanation. Lets say I have a mutation which sends a message to a specific chatId and the update function needs this chatId to manually write it into the cache - how do I specify this chatId in the cacheUpdateFunctions? Or are they automatically restored from the cached mutations and will be passed to the specified update function whenever the mutation will run?

[2020-01-28 13:34] bdbch commented on #344
If I understand the concept I'll look into contributing a demo to the docs!

[2020-01-28 14:27] bdbch commented on #340
Okay nevermind, I'm having it in the chatId in the response. So I've configured the update function as a global update function like that:

[code]

where `sendMessageUpdate` is the update function I previously used to update my cache locally from the mutation call itself.

My mutation now looks like this:

[code]

The optimistic response works when I'm online and offline but restoring the optimist

[2020-01-28 14:39] darahayes commented on #340
It would be good to know how you are writing things to the cache with your update function. I recommend you have a quick glance at the [Apollo docs on update functions](https://www.apollographql.com/docs/react/performance/optimistic-ui/#adding-to-a-list) because they can be pretty tricky.

Update functions get passed two params `cache` and `result`. You can and should reference those instead of an

[2020-01-28 14:45] bdbch commented on #340
Hey! Thanks for the quick answer. I already refactored my code so I can get the chatId from inside my mutations result `result.data.sendMessage.chat.id`

My update function looks similar to the basic example from the Apollo docs. What I'm basically doing is readying my `GET_CHAT_MESSAGES` query with `readQuery` with the correct chatId, then append or update the message (depends on the update) and

[2020-01-28 20:39] wtrocki opened #346 "[Low priority] Documentation for restful use cases"
## Feature Request

Following blog post:
https://tech.trello.com/adopting-graphql-and-apollo

We need to showcase how to adopt GraphQL in scenarios where API still can be rest. Initially, we were thinking that this can be done using the scheduler, but alternative would be to have different terminating link or local resolvers.

[2020-01-29 10:24] darahayes commented on #340
@bdbch sorry I couldn't get back to you sooner, I understand the struggle this stuff is pretty tricky. On the face of it your update function looks good to me and it's promising that it works when offline/online.

I'm wondering is there some reason your update function isn't being called on startup. Can you add some console.log statements or do some debugging down there and see if it's called on s

[2020-01-29 10:36] bdbch commented on #340
It's not getting executed as far as I can see.

Thats a good one! I'll check this asap!

[2020-01-29 10:39] bdbch commented on #340
Unfortunately it's not that one. My mutation gql:

[code]

should be fine right? It seems like the whole update function cache is not started or something as a console.log in the update function won't be executed unless my device goes online again.

[2020-01-29 10:57] darahayes commented on #340
Have you tried the following?

[code]

[2020-01-29 12:00] bdbch commented on #340
You're saving my day man! Thats it! How is that mapped to each other when both my mutation and function are called "SEND_MESSAGE"?

[2020-01-29 12:27] darahayes commented on #340
Looking back at your previous comment:

[code]

the `sendMessage` name here is the actual name of the mutation as your server understands it. That's the one we use. Now that I think about it deeper, it might make sense to use the `SEND_MESSAGE` one instead because you might have multiple ways a client might call the same mutation that would have different results and might need different update fu

[2020-01-29 12:33] bdbch commented on #340
Good to hear my issue good for the project too! 👍 Sounds promising and I think would make it easier to understand. I'll look into contributing to the docs when I have time for that! Thank you for your help.

[2020-01-29 12:39] darahayes commented on #340
Rewriting the docs on cache updates and optimistic responses is on my list of things todo but we'd gladly accept any contributions no matter how big or small 😃 If you're happy enough to close your original issue, that would be great.

I'm conscious that we kinda took over this one from @aarshaw so I'll keep this one open in case they come back with more questions or issues.

[2020-01-29 12:42] bdbch commented on #344
I was able to resolve this issue here:
https://github.com/aerogear/offix/issues/340

[2020-01-29 12:42] #344 closed

[2020-01-29 13:29] wtrocki commented on #340
Most of the queries from client are not named to reduce payload size. Named query/mutation can contain multiple underlying graphql queries and mutations. That is the reason we require actual query name in global cache updates. In terms of our underlying engine each operation is processed separately by conflict/offline engine anyway.

I guess we need to document good patterns to not name your queri

[2020-01-30 09:29] kingsleyzissou opened #347 "Subscription Delete Update Query"
## Bug Report

Currently the subscription delete update query. At the moment, the update function expects the subscriptionData to be returned as an object. This is okay, assuming the return type for  the GraphQL delete subscription is the full object, but when the return type is only an ID (as is the case with the delete subscription generated by Graphback Runtime), the update query has no effect.

[2020-01-30 10:15] wtrocki commented on #347
This is Graphback bug rather than Offix bug. In offline/conflict land deletes are usually soft and we need access to the version. We have changed that already inside the Graphback but this is still not released yet.

[2020-01-30 10:26] kingsleyzissou commented on #347
@wtrocki  Yeah true, but what about if someone doesn't use a Graphback backend and defines the schema to return the ID only, they would have the same error. Obviously we can't account for every edge case, do you suggest that we put in the docs that the subscription schema should be defined so that the delete subscription always returns the full object? Or do we change the subscription update funct

[2020-01-30 10:32] #342 closed

[2020-01-30 10:34] wtrocki commented on #347
+1 on having this fixed in offix helpers as well

Our cache update helpers will work only with a simple CRUD scenario.
Any relationship/wrapping type/single object returned will cause some nasty issues. Apollo provides a flexible ways to do updates but they are hard to use for beginners. That is why we created those helpers that we can use in our sample apps, but also this helpers were main distra

[2020-02-04 12:53] darahayes opened #350 "stop automatically applying cache helpers in `offlineMutate`"
## Motivation

While the automatic cache helpers are actually a really cool feature, they are also a constant source of issues being opened in Offix. I think there are two main reasons why we see issues being opened.

### Confusion about what the helpers actually do

We extend the `mutate` options with additional fields such as `operationType` and `updateQuery` and then all our main docs for offli

[2020-02-04 15:01] darahayes commented on #324
So thanks to @kingsleyzissou we now have a really lovely example app for react. It was merged in #345 we may have another app for react native in the future but for now I'm going to close this issue.

[2020-02-04 15:01] #324 closed

[2020-02-06 02:49] biels opened #355 "[Client library] Flutter support: offix-flutter?"
## Feature Request
**Is your feature request related to a problem? Please describe.**
Using offix in a flutter project. Since flutter looks like is going to be the major player in multi platform mobile dev going forward (this is my opinion, and I truly desire that React Native is able to catch up) I think it makes sense to support it. Maybe an idea for a gsoc project? Or maybe if more people is in

[2020-02-06 11:19] darahayes commented on #338
Fixed in #353

[2020-02-06 11:19] #338 closed

[2020-02-06 11:26] darahayes commented on #174
I've been thinking about this. We now allow users to pass in their own CachePersistor instance (one is created by default if not passed). See the docs here: https://offix.dev/docs/client-configuration#cachepersistor

Perhaps we could bundle our own CachePersistor in offix client and then if users want to pass their own instance, they will use the one we export from `offix-client`. It could work so

[2020-02-06 11:31] darahayes commented on #350
On more investigation I've found that there's not a whole load of improvements we can actually make on the API level without a huge amount of work. As part of the investigation, I did some minor refactoring of the `offix-cache` package in https://github.com/aerogear/offix/pull/353 to make the code a bit more readable/maintainable. Ultimately I think our solution to the issues outlined above will b

[2020-02-06 11:31] #350 closed

[2020-02-06 11:40] darahayes opened #356 "investigate tools for measuring and finding ways to reduce bundle size"
## Feature Request

It would be nice if we can do the following:

* find tooling that can help us analyse the overall bundle size for `offix-client`
* find tooling or approaches to reduce the bundle size
* measure the bundle size as part of our CI process

[2020-02-06 11:41] darahayes commented on #356
cc @kingsleyzissou

[2020-02-06 11:43] wtrocki commented on #356
I believe this is out of our control as we base on already existing bundle - Apollo

https://bundlesize-store.now.sh/build?info=%7B%22files%22%3A%5B%7B%22maxSize%22%3A24678%2C%22path%22%3A%22.%2Fdist%2Fapollo-client.cjs.min.js%22%2C%22size%22%3A24554%2C%22compression%22%3A%22gzip%22%7D%5D%2C%22repo%22%3A%22apollographql%2Fapollo-client%22%2C%22branch%22%3A%22renovate%2Fmajor-documentation-theme%22

[2020-02-06 11:44] darahayes opened #357 "Improve the general state of testing in offix"
## Motivation

For historical reasons, we had tests spread out across the various offix packages. We also have the integration tests folder in `offix-client`

I think we would benefit from moving all tests into a single location at a top level within the repository. That includes all unit tests and integration tests.

As part of that we should be able to fix issues around code coverage reporting a

[2020-02-06 11:45] darahayes commented on #357
cc @kingsleyzissou

[2020-02-12 11:28] kingsleyzissou opened #359 "Offix breaks when ID is a number"
## Bug Report
I get the following error message when trying to carry out an update and the ID field is a number.

![Screenshot from 2020-02-12 11-25-32](https://user-images.githubusercontent.com/20438192/74331034-b7a39c80-4d8a-11ea-9585-b8177854ad66.png)

[2020-02-14 16:56] kingsleyzissou opened #360 "Unable to programmatically register a new conflict listener after client is created"
## Bug Report
At present, the conflict listener is registered in the config before the client is created. This is an issue for example with React if you want to use a component to alert the user as this is outside of a React component. It is not possible to register additional listeners at a later stage to achieve this goal.

[2020-02-16 11:44] amaurymartiny opened #361 "Used persisted cache on first-load"
## Feature Request

Let's imagine a simple scenario, where I can of/off a toggle (where `isOn` is a boolean).

[code]

**Repro**:
- Assume the graphql data has `isOn = false` at start
- Click on the "Toggle" button, `isOn` becomes `true`, it gets updated on backend
- Close the app (in my case a React Native app)
- Re-open the app

**Expected**:
- On startup, it should directly show `isOn = true`

[2020-02-17 11:49] wtrocki commented on #361
Your code needs to await for the cache to restore data:
https://github.com/aerogear/offix/blob/master/examples/react/src/index.js#L16

There is possibility to use synchronous api thanks to Apollo-Cache-Persist but we do not recommend or document this use case.

[2020-02-17 11:51] #361 closed

[2020-02-21 12:03] psy667 opened #365 "Local state management"
How I can do local state mutation and queries like [this](https://www.apollographql.com/docs/angular/basics/local-state/#resolvers)?

[2020-02-21 22:34] wtrocki commented on #162
Refreshing this topic. Generally we need capability to:

- Add item to the queue
   - Directly in user app space
   - As the form of retry/error link failover
- Give ability to expire items from the queue.
It can be based on
    - Manual trigger 🙈
    - no of tries
     - expiry time?

CC @darahayes

[2020-02-21 22:38] wtrocki commented on #162
While manual handling is also an option it will end up with lots of boilerplate code in react components that we can avoid.

[2020-02-25 20:27] lucasmez opened #367 "Entities ids cache update workflow"
_This is not a bug report or a new feature idea, it is a question about cache update workflow for an offline app using Offix, so I apologize if I added this issue using the wrong label_

I am building an offline-first application that lets users switch between offline and online modes, and Offix looked like a very good solution for what I needed, until I ran into a problem:

Users can create items

[2020-02-25 22:38] wtrocki commented on #367
@lucasmez Thank you so much for very detailed definition of the problem. We will need some time to get back to you with solution.

Offix have limited capabilities at the moment in terms of cache updates for nested elements, in caches queries but looking to improve this in very short time.

For offline queue we do try to remap client generated id's but that only happens if:
- mutation has no nested

[2020-02-25 22:43] wtrocki commented on #367
Mentioned workaround https://github.com/aerogear/ionic-showcase/commit/858ede92b982de6dbc82732c006c54d7559ff99d

[2020-02-25 23:27] lucasmez commented on #367
@wtrocki Thank you for the fast response and for linking that workaround!  I will try using the `registerOfflineEventListener()` method.  Will the listeners I add using that method overwrite the following default listeners present in the ApolloOfflineClient?
[code]

Let's say I don't want Offix to remove optimistic responses when an operation fails. Can I just overwrite the `onOperationFailure()`

[2020-02-26 00:03] wtrocki commented on #367
As for hacks - All listeners in queue will be called but nothing stopping us to flush existing ones and attach new one. It happens that they are public and can be accessed from client

https://github.com/aerogear/offix/blob/master/packages/offix-scheduler/src/queue/OfflineQueue.ts#L55

Obviously this is just us trying hard to get this to work in really convoluted way. I would love to have more tim

[2020-02-26 15:38] darahayes commented on #365
@psy667 The `OfflineClient` accepts all the same options as `ApolloClient` which means it is possible to pass local `resolvers` if desired. Is there something specific you are trying to do or having issues with?

[2020-02-26 15:43] wtrocki opened #369 "[Discussion] Advanced filtering in Graphback"
## Feature Request

Graphback provides now just basic means for filtering and pagination.
To support advanced cases we can:

1) Allow people to extend schema with queryNames that can be interpretted as queries
``
""" sql: select * ... """
findNoteByIdAndFetchCommentsOrderBy();

[code]

[2020-02-26 15:46] wtrocki commented on #365
@psy667 Local state by definition will work when offline.

[2020-02-27 10:39] kingsleyzissou opened #371 "Nested input types in optimistic response"
## Bug Report
The optimistic responses from mutations breakdown when the mutation resolvers require an input object rather than the fields directly. A current workaround to this is to have an optimistic response handler that unwraps the input object. This is necessary since Offix can't replace the offline generated ID if the optimistic response ID if the ID is wrapped in another object.

[2020-02-27 10:43] kingsleyzissou opened #372 "Unable to remove NetworkStatus Listeners"
## Bug Report
The current implementation for the NetworkStatus listeners don't allow for removing event listeners after they have been added. This is especially needed for cleaning up React hooks using network listeners. See proposed changes in #368

[2020-02-27 10:53] kingsleyzissou opened #373 "Error handling with useOfflineMutation hook"
## Bug Report
The useOfflineMutation doesn't catch server errors. If you wrap the returned `runMutation` function from the hook in a try/catch block and use async/await, you can catch the server errors. However, offline errors are never resolved or rejected and if the client is offline, the page just hangs until the client comes back online. A potential solution for this is to reject offline error

[2020-02-27 12:44] darahayes commented on #162
Ultimately this is a weakness in the offix-scheduler implementation and not in the client itself.

I think there are two potential approaches.

1. Queue every operation and then attempt to execute operations immediately if online. This will possibly bring some challenges around the queue implementation. We'll probably need to add some locking/semaphore type behavior on the queue to ensure operatio

[2020-02-27 13:20] wtrocki commented on #162
For approach nr1 it might have certain implications. For offline operations, we can guarantee no data loss as it will always save item to db before even making the request. Adding all to the queue will mean that we will need to disable ability to have parallel network requests (as this will allow updates happening before create) etc. We would also not be able to perform request without saving item

[2020-02-27 22:12] lucasmez opened #374 "replaceClientGeneratedIDsInQueue() should update the offline store"
## Bug Report

* **Affected Package(s)**: offix-client, offix-scheduler

The replaceClientGeneratedIDsInQueue() method only updates the Queue in memory, but it never saves the updated Queue containing the replaced ids to the store. So in the following scenarios, mutation errors will occur:

1. Offline: User creates new entity (Mutation 1). client id is assigned to it.
2. Offline: User updates the

[2020-02-27 22:16] wtrocki commented on #374
Thank you so much for logging this issue. This looks like serious issue that might affect replication of the queue. We going to resolve it in the comming days.

[2020-02-27 22:39] lucasmez commented on #367
@wtrocki Just a suggestion regarding the problem of nested updates, where "parentIds" in the queue should be updated once a mutation returns from the server (in addition to the regular id field), maybe it'd be worthwile having Offix accept an array of id names to replace in the queue. For example:

We would pass this option to Offix:

`const idsToReplace = ["parentId", "anotherId"];`

Then the `re

[2020-02-28 08:13] darahayes commented on #367
@lucasmez thanks for opening an issue with such detail. I see you found `replaceClientGeneratedIdsInQueue.`

This is a reasonable idea, but we've found other issues with the `replaceClientGeneratedIDsInQueue` method. For example, it assumes your `variables` is a flat object like this:

[code]

While it's actually pretty common to use input types where your variables will be nested under another ke

[2020-02-28 08:20] darahayes commented on #374
Whoah thanks so much for catching this. Luckily we should be able to fix that one easily enough!

[2020-02-28 08:21] darahayes commented on #369
@wtrocki is this the right repo for this issue?

[2020-02-28 08:31] wtrocki commented on #369
Yes. Can you elaborate?

[2020-02-28 08:41] darahayes commented on #369
It appears to be a discussion about how to do filtering + pagination in Graphback. Would it make more sense for this issue to be in the Graphback repo?

[2020-02-28 09:55] wtrocki commented on #369
Ah.. yes. I put that in wrong place! THat is good catch. I would be looking for that issue for ages :D

[2020-02-28 09:55] #369 closed

[2020-02-28 10:19] wtrocki commented on #371
Duplicate of https://github.com/aerogear/offix/issues/367

[2020-02-28 10:19] #371 closed

[2020-02-28 10:44] wtrocki commented on #367
Let's go with result processors. We can have variation per type or global and implement default ones that will be helpfull for common cases.

[2020-02-28 15:19] kingsleyzissou commented on #367
@darahayes I'm plus one for the second approach, would allow for a little bit more flexibility, that's if we're not forced to implement the first approach.

[2020-02-28 15:25] kingsleyzissou commented on #367
I am also getting a weird error with re-queuing the optimistic response. The operation.op that is being passed through to the `restoreOptimisticResponse` method is undefined.

[2020-02-28 22:46] lucasmez commented on #367
@kingsleyzissou I saw that error yesterday too while trying to register my own registerOfflineQueueListeners. I thought I was doing something wrong so I didn't mention it =p.

[2020-03-01 06:20] wtrocki opened #549 "[Discussion] Plugin that will wrap client side queries into service objects for Offix integration"
Plugin should allow to generate client side classes that will wrap graphql client and make queries.
Plugin could be generic or react specific?
This will invalidate hooks approach if generic..
We can save items to local store along with using graphql queries to fetch them

[2020-03-03 11:53] kingsleyzissou commented on #372
Fixed in #368

[2020-03-03 11:53] #372 closed

[2020-03-03 16:38] kingsleyzissou commented on #373
Fixed with #378

[2020-03-03 16:38] #373 closed

[2020-03-03 17:14] kingsleyzissou commented on #329
Fixed in #379

[2020-03-03 17:14] #329 closed

[2020-03-05 10:10] kingsleyzissou commented on #356
I started pruning the packages for unused dependencies and removed lodash from the react-offix hooks package. Busy investigating a way for measuring bundlesize now and adding it to the CI, just so we have a way of bench-marking things

[2020-03-06 15:21] kingsleyzissou commented on #309
The new [datasync starter](https://github.com/aerogear/datasync-starter) is built with Ionic and React on top of Ionic capacitor.

You could create your own custom React hook to determine whether the app is connected or not. See the [`useNetworkStatus`](https://github.com/aerogear/offix/blob/master/packages/react-offix-hooks/src/useNetworkStatus.ts) hook in `react-offix-hooks` for reference.

Clos

[2020-03-06 15:21] #309 closed

[2020-03-06 16:46] #374 closed

[2020-03-09 10:04] #367 closed

[2020-03-09 10:50] #356 closed

[2020-03-09 11:55] kingsleyzissou commented on #359
Fixed with #381

[2020-03-09 11:55] #359 closed

[2020-03-09 17:11] darahayes commented on #360
fixed in #393

[2020-03-09 17:11] #360 closed

[2020-03-13 11:49] ldrv565 commented on #282
const { ApolloOfflineClient } = process.browser ? require('offix-client') : {};

[2020-03-16 08:47] Eunovo commented on #283
Please assign this to me

[2020-03-16 12:50] wtrocki opened #397 "Capacitor support"
## Feature Request

When running with capacitor Cordova is still enabled however capacitor defines different api for network status and storage. We could provide capacitor specific implementations

[2020-03-16 12:50] wtrocki commented on #397
See datasync-starter issues

[2020-03-17 20:50] Eunovo commented on #283
@wtrocki To be clear about what you want I'm using an example. You want this config [here](https://github.com/aerogear/offix/blob/bc958d42297f1227c11a93b9ac7ccc6c2bcecc72/packages/offix-scheduler/src/OffixScheduler.ts#L54)  to be validated before it is used because if this library is used in js project, an invalid config can be passed

[2020-03-18 08:06] ldrv565 commented on #282
maybe you should write something like this:
  exports.isMobileCordova = function() {
    if (process.browser || typeof window !== 'undefined') {
      return !!window['cordova'];
    }
    return false;
  };

instead:
exports.isMobileCordova = function () {
    return window && !!window["cordova"];
};

[2020-03-18 09:11] wtrocki commented on #283
I'm more into some basic validation for ApolloConfig that is initalized here:
https://github.com/aerogear/offix/blob/bc958d42297f1227c11a93b9ac7ccc6c2bcecc72/packages/offix-client/src/ApolloOfflineClient.ts#L50

[2020-03-18 17:25] kingsleyzissou commented on #347
@wtrocki closing the issue. I have tested this with the example app an it seems like it is no longer a problem after the input mapping updates @darahayes made

[2020-03-18 17:25] #347 closed

[2020-03-20 10:24] kingsleyzissou opened #401 "Network Status Changes affecting React Native"
## Bug Report
- Investigate network status affects on React Native implementation.

* **Affected Package(s)**:
* **Package version(s)**:
* **Platform (e.g. Android/iOS)**:
* **Platform Version**:
* **Cordova Version**:
* **Node.js / npm versions**:

[2020-03-25 10:58] kingsleyzissou commented on #401
In the process of adding an example React Native app to the repo, with a custom network listener implementation that extends the current `NetworkStatus` class.

There does seem to be an issue with optimistic responses not being remove, resulting in duplicate items, but will create a separate issue for this.

[2020-03-25 10:59] kingsleyzissou opened #409 "React Native offline mutation is being sent twice"
## Bug Report
It appears that optimistic responses are not removed from the cache in React Native, which results in duplicate items.

[2020-03-30 10:27] #283 closed

[2020-03-31 09:19] kingsleyzissou opened #419 "New website UI"
## Feature Request

**Is your feature request related to a problem? Please describe.**
Please describe the problem you are trying to solve.

**Describe the solution you'd like**
Please describe the desired behavior.

**Describe alternatives you've considered**
Please describe alternative solutions or features you have considered.

[2020-03-31 09:47] kingsleyzissou commented on #401
PR #408 resolves this by providing an example for a React Native network listener.

Issue #408 created for duplicate offline mutations.

[2020-03-31 09:47] #401 closed

[2020-03-31 10:24] ganashreeravikumar commented on #409
After debugging I found that the  `handleNetworkStatusChange` is being called twice which will call `listener({ online })` twice, thus ending up calling the mutation twice.

Here is a workaround I am using:

[code]

[2020-03-31 18:21] jacruzca commented on #409
Thanks for the workaround @ganashreeravikumar. I tested it but it doesn't work on app restarts though. Steps in a real device:
- enable airplane mode (go offline)
- execute mutation in offline mode
- kill the app
- Disable airplane mode (go online)
- open the app

Mutations are still fired multiple times :(

[2020-04-01 16:17] wtrocki opened #421 "React native example is not rendering for IOS"
- App seems to be not rendering properly as it is stuck on the loading state of the hook
- Render is called 3 times
- isOnline inside offix might not work as it returns undefined so no request will be made

[2020-04-01 16:29] kingsleyzissou commented on #409
@ganashreeravikumar thaks for debugging this. Slight modification of this should work for @jacruzca too.

[code]

This has been added now to the React Native example app (PR #420)

[2020-04-07 06:01] KyleBrost opened #425 "valueChanges not on query?"
When trying to convert from the regualr apollo client to the offix offline client a simple watchQuery does not work:

    this.client.watchQuery<ScheduleQueryResponse>({
      query: SCHEDULE_EVENT_QUERY_ALL,
      variables: {
        eventDate: eventDate_,
        resourceId: resourceId_,
      }
    }).valueChanges.subscribe( ({data,loading}) => {

        this.loading = loading;
        this.t

[2020-04-07 08:34] wtrocki commented on #425
Offix client is using Apollo client. `valueChanges` comes from Apollo Angular which is a wrapper around Apollo Client.

To quote docs:

[code]

I think that watch query has already observable so `valueChanges` can be ignored

[2020-04-14 20:11] MitchellMonaghan opened #430 "createOptimisticResponse CacheOperation.ADD overwrites id prop"
createOptimisticResponse with CacheOperation.ADD creates its own id using generateClientId. If they id prop already has a value can we not blow the existing value away? I already generated a id for this new element and I want to keep it in the format I provided. I know I can work around this using the default apollo update function, this would be a nice thing to have.

Thanks
Mitch

[2020-04-14 21:32] wtrocki commented on #430
Really great idea and quite an easy fix. If the operation has already id present we can skip a generation.

https://github.com/aerogear/offix/blob/master/packages/offix-cache/src/createOptimisticResponse.ts#L66

Could be
`if (operationType === CacheOperation.ADD && !optimisticResponse[operation][idField])
`

We will release it in the patch release. As a current workaround, you can simply copy this

[2020-04-14 21:32] wtrocki commented on #430
CC @darahayes

[2020-04-23 09:38] wtrocki commented on #430
CC @darahayes

[2020-04-23 17:19] #425 closed

[2020-04-23 17:34] KyleBrost opened #433 "When offline cache is not Optimistic Updated"
I have a mutation:

[code]

When things are online everything works fine.  When the client is offline everything does resolve and update when it goes back online.  But what is not happening for ADD operations:

1. Load view and see latest data
2. Go offline
3. Add a new record
4. View does not update
5. Go online
6. View update and is correct

If we do the same for an "update" operation the view i

[2020-04-23 21:30] cjohn001 opened #434 "Please support Nativescript Platform with offix and add description or example regarding the integration on website"
Hello together, I would like to give a feedback regarding the offix integration into a Nativescript app. I think if you like to bring people onto the native script plattform you would make things much easier if you provide an example on how this could be done, or at least add a description on how to integrate into nativescript on the offix website.
I have not solved the offix integration yet, but

[2020-04-24 10:43] darahayes commented on #430
@MitchellMonaghan thanks for reporting this and apologies it took such a long time for us to respond. This is absolutely a bug and it can be fixed with what @wtrocki is suggesting. I'll let you know as soon as a fix is released. In the meantime, if you're really stuck, you can directly copy the `createOptimisticResponse` function that @wtrocki linked into your application and make the modification

[2020-04-24 11:11] darahayes commented on #433
Thanks for submitting this issue @KyleBrost. On the face of it, what you are doing looks correct and *should* work especially if you have no issues with updating existing items. Sorry you're not having the best experience.

I suspect that this issue might be related to #430. In that issue, another user had problems with the `createOptimisticResponse` function because they were passing their own ID

[2020-04-24 13:33] #430 closed

[2020-04-24 15:34] darahayes commented on #430
@MitchellMonaghan we've just published `0.15.1` of all the `offix` packages. Can you try that new release and let me know if it fixes the issue for you? Thanks.

[2020-04-24 15:35] darahayes commented on #433
@KyleBrost we've just published version `0.15.1` of `offix-client` can you please try it out and let me know if you still experience this issue? Thank you!

[2020-05-05 15:00] barbalex opened #446 "Can't be used in GatsbyJS. Need to check for the window global variable"
## Bug Report

My App uses [GatsbyJS](https://www.gatsbyjs.org/). This has the same issue as next.js (https://github.com/aerogear/offix/issues/282#issuecomment-600480004) in that it can run server side.

Not only _can_ it run server side, it is actually run inside node.js when it is built (https://www.gatsbyjs.org/docs/troubleshooting-common-errors/#error-referenceerror-window-is-not-defined-when-

[2020-05-05 15:06] barbalex commented on #446
Oh, "indexedDB" can also not be used node side. This might be harder to ignore. Instance:
- https://github.com/aerogear/offix/blob/master/packages/offix-scheduler/src/store/IDBLocalStore.ts#L6

[2020-05-05 15:30] barbalex commented on #446
There _is_ a way to bypass this problem for GatsbyJS users. I did it this way:

1. dynamically load the client: load apollo-client if window is undefined, offix-client if window is defined: [code](https://github.com/barbalex/vermehrung/blob/4ef38110de168b1af15cb0ba59d59df8ccd27041/src/App.js#L63-L66)
2. delay rendering the app until client is loaded: [code](https://github.com/barbalex/vermehrung/b

[2020-05-05 16:03] wtrocki commented on #446
@barbalex This is actually very similar to how people hack apollo-cache-persist.
We had couple requests to enable SSR (or rather disable offix on backend).

We should add this solution to the docs.

[2020-05-06 11:26] darahayes commented on #446
@barbalex thanks for opening an issue. Forgive me if this is a silly question but could you maybe describe how/why you would use Offix in a server side rendered application? It's not exactly our core use case so we're not super familiar with it but of course we would be happy to help if you could help us understand.

[2020-05-06 12:15] barbalex commented on #446
That is a common (mis-)conception of GatsbyJS. GatsbyJS is great to pre-build pages that are then served blazingly fast. But it is _much more_:
- a very potent alternative to create-react-app
- allows you to edit webpack configs perfectly (unlike create-react-app)
- offers great tools for many use cases ("themes", "plugins", "recipes")
- offers top of the notch tools to deal with images
- makes it

[2020-05-06 15:16] darahayes commented on #446
@barbalex thanks for the clarification. I'm reading through the docs now to get a better sense of it. So would there be Offix code actually getting executed in a Node.js environment at runtime, or is it more of a thing that there is a Node.js build time process that parses the code and creates errors when `window` is not defined?

Those places where we reference `window` and `indexeddb`, are fairl

[2020-05-06 15:36] barbalex commented on #446
It seems quite clear that refactoring offix to work in node same as in the browser does not make any sense: No one will need offline capability server side.

I suppose there will be devs with the need:
- to initially fetch data server side
- while being able to work offline browser side

Though this would probably be more typical for next.js it is probable some devs would wish to do this with gats

[2020-05-06 16:10] darahayes commented on #446
That's what I was thinking too.

If it's just a case that you want to use Offix within a Gatsby application, and you need some additional checks to keep the build/compile process happy, we'd be happy to accept a PR to add checks for `window` or a PR for docs.

We did build Offix with the intention of running in non browser environments (React Native is an example). All of those places where you sa

[2020-05-09 03:15] MitchellMonaghan opened #447 "optimisticResponse reverts data after request failure"
This might just be a question and not a bug, but it might also be a discussion or a bug.

Basically I have data that gets modified offline. I use offix to store these local offline changes. We push data to the api, the request fails for w/e reason, because this is using apollo optimisticResponses apollo reverts this data in the ui. The user refreshes the page and offix restores the data as it shou

[2020-05-11 11:00] darahayes commented on #447
Hey there, generally this behaviour is by design but if you want to remove that behaviour you can try removing the default queue listener. Somewhere in your application after `client.init()` has complete, you could try this:

[code]

Let me know if that works for you!

[2020-05-11 11:32] QuevedoIB opened #449 "useOfflineMutation"
Hello and thanks for the library, I'm trying to achieve offline support using Apollo/GraphQL.

I've setup an implementation that looks like the React Native example but whenever I call useOfflineMutation inside my functional component I get the following error:

<img width="330" alt="Screenshot 2020-05-11 at 13 14 29" src="https://user-images.githubusercontent.com/45363951/81556935-6d32bb80-938b-1

[2020-05-11 12:57] QuevedoIB commented on #449
Just cloned the repo and tested the react native example and it gives the same error:

<img width="360" alt="Screenshot 2020-05-11 at 14 54 39" src="https://user-images.githubusercontent.com/45363951/81564096-817cb580-9397-11ea-9df9-f0d987def06a.png">

Steps to reproduce:
Clone this repo:
Go to the examples folder -> react native example
npm i && cd ios && pod install
open Xcode -> rnative.xcworks

[2020-05-11 16:08] darahayes commented on #449
Ping @kingsleyzissou you might have a quick answer for this one. Otherwise I should get a chance to look at it some time tomorrow!

[2020-05-11 17:36] dioxapp opened #451 "Error when using offlineMutate cache not updated"
Hello and thanks for the great library you made!!!

I am getting this error
![Offix_error](https://user-images.githubusercontent.com/65185835/81591939-82284280-93bd-11ea-8a68-7dc8f4964e31.PNG)

When i try to add a new record in my entity, ame issue for the delete statement :
[code]
But the database is well updated, its seems be a cache refresh issue...
Any help is appreciated !!!

Thanks

[2020-05-11 21:31] wtrocki commented on #451
Hi

There are actually two issues I see:

As per docs update query field is `updateQuery`:
https://offix.dev/docs/offix-cache#mutation-cache-helpers

Error printed to user is kinda bad so we going to change that.

An additional issue is that automatic cache updates are designed to work with arguments in the root. When using single object in mutation additional mapping needs to be added like here:

[2020-05-11 21:40] wtrocki commented on #449
It is strange as we haven't changed much and example app did worked. What I can think of is that some of the package updates changed way we wrap apollo hooks into class.

@QuevedoIB we will be back to you as soon as possible with the fix.
https://github.com/aerogear/offix/blob/7d8ea824708dce911f51e646c6f4e65fabd9a0ff/packages/react-offix-hooks/src/useOfflineMutation.ts#L74

[2020-05-12 08:34] kingsleyzissou commented on #449
This is a strange one. The React-Native example is still working for me without that error.

Going to dig into it a little bit more today

[2020-05-12 09:44] #421 closed

[2020-05-12 09:46] wtrocki commented on #433
Thank you for reporting issue. Feel free to reopen if the issue still persist

[2020-05-12 09:46] #433 closed

[2020-05-12 10:33] KirioXX commented on #449
Hi, we have the same issue after we upgraded to react-native 0.62.2.
The recommended react version for 0.62 is v16.11.0,
I upgraded the version to v16.13.1 and everything seems to work fine again.

[2020-05-12 10:44] wtrocki commented on #449
@KirioXX Thank you so much for leaving this awesome comment.
We will update the sample app to this version as well to give devs reference

[2020-05-12 16:10] MitchellMonaghan commented on #447
Hi darahayes,

This didn't work for me.
1. I am using this hook to notify the user when something has gone wrong.
2. I put the code in anyway even though i need this hook and it didn't seem to have any effect.

It rollsback the data if I simply turn my browser to offline in the middle of a request. An offline app may be on a unreliable network connection (middle of no where farmers field etc) and

[2020-05-12 16:13] MitchellMonaghan commented on #447
FWIW I am letting the user manually control when to push the local changes and not using offix to determine if they have a network connection. I'm not sure this matters tho b/c the connection could always fail in the middle of a request.

[2020-05-12 16:32] wtrocki commented on #447
@MitchellMonaghan Amazing feedback. We have been thinking about this use case a lot. We currently using Online/Offline scheduling approach to offline where when an nonoffline error happens we have no other way to jus remove data as there is no way to send it again and we do not want to end up with something that cannot be applied to the backend. We have been exploring different use case where we g

[2020-05-12 16:36] wtrocki commented on #447
Obviously, local state will mean possible duplication of the queries for local and remote cases, which we will try to simplify itself.

[2020-05-12 20:44] MitchellMonaghan commented on #447
My error is simply network error b/c I went offline during a request. I have a solution/workaround I wrote my self until there's better support for this scenario.

I think this might partially be my doing stuff wrong, I saw in the offix documentation there was a FetchExecutor class and I assume I should be using that instead of what I'm doing. I am overriding apollo's HttpLink fetch function as so

[2020-05-13 11:09] dinhmai74 commented on #449
Can you share package.json @KirioXX , I still have that issue 🙁

[2020-05-13 11:17] KirioXX commented on #449
@dinhmai74 Sure
[code]

[2020-05-13 13:44] dinhmai74 commented on #449
thank bro @KirioXX , It's work now 😍

[2020-05-14 07:45] QuevedoIB opened #456 "Question: How to fix id conflicts cache/server"
Hello,

I managed to do a simple offline todo app that works fine except for the case that when the user creates a todo offline, an id field is required in the optimistic response so I pass null/uuidv4 to that field and it works as expected, but when the app comes back online and the cached queries/mutations are sent the todo is created in the api with a generated id that doesn't match the random

[2020-05-14 08:36] QuevedoIB commented on #449
Unluckily for me upgrading react to 16.13.1 didn't do the trick:
[code]
For now I'm using the mutation directly to the client instead of using the hook.

[2020-05-14 09:35] QuevedoIB commented on #449
Guess my error comes from:
<img width="513" alt="Screenshot 2020-05-14 at 11 35 08" src="https://user-images.githubusercontent.com/45363951/81918648-0e618200-95d7-11ea-9a87-2fb8bc33a817.png">

[2020-05-14 14:40] stydav opened #458 "enqueued mutation related to apollo-upload-client"
* **Affected Package(s)**: offix-client
* **Package version(s)**: 0.15.1
* **Platform (e.g. Android/iOS)**: Android
* **Platform Version**: 8.0.0
* **Node.js / npm versions**: 12.14.1

when an image upload is triggered while offline, the operation gets enqueued. The mutation is like this:

`mutation UploadMutation($file: Upload!){
    uploadMutation(file: $file){
        url
    }
}`

apollo-uploa

[2020-05-14 16:12] wtrocki commented on #458
Yes. We initially had that upload client configured in our sample application and even offix had that as option embedded. But since this brought the package size we decided to remove it from the core package and we are offering offix-boost that have this capability:

What you might be having issue with is the HTTP link were not swapped with the FileUpload HttpLink.
See:

https://github.com/aerogea

[2020-05-14 16:12] wtrocki commented on #458
CC @darahayes

[2020-05-14 22:36] dioxapp commented on #451
Hi wtrocki

Thanks for your reply
Changes done but i'am getting the same error message, below my offix config:

      const config: OffixBoostOptions = {
        cache: new InMemoryCache(),
        httpUrl: process.env.GRAPHQL_URL ? process.env.GRAPHQL_URL : '',
        wsUrl: process.env.GRAPHQL_WS_URL ? process.env.GRAPHQL_WS_URL : '',
        connectToDevTools: true,
        fileUpload: true,

[2020-05-15 08:21] stydav commented on #458
that would be great thanks

[2020-05-15 11:55] wtrocki commented on #458
@stydav would using offix boost resolve this issue for you.
I have used offix boost as faster way to try that out and were able to send file (I did not had handler on backend though.

[2020-05-15 11:59] wtrocki commented on #451
Your query using obj as argument instead of variables:
[code]

offix is basing on concept that all arguments are put directly into mutation.
We can change that when client is created.

[2020-05-15 14:03] wtrocki commented on #449
I quess we need to add react as peerDependency but with the wider .
This should not cause any issue though as react will be there - this is more issue related to package failing check.

I have create PR to fix this:
https://github.com/aerogear/offix/pull/459

[2020-05-15 14:09] wtrocki commented on #456
@QuevedoIB ID is not required. We have an implementation that assigns client id (with `client:` prefix and then once a mutation is finished we know that we need to remap it to the original id from the server. This happens only for create operations.

If you providing id on the client offix will assume that your server do not generate ids and you want to set the ID from a client. This means if the

[2020-05-15 15:19] eltonec commented on #451
i use angular & offix-angular  and i get same error!

wkLogout(id, logout): Promise<any> {
    const qm = gql`
    mutation update_logons($input: logons_set_input) {
      update_logons(
        where: {id: {_eq: ${id}}},
        _set: $input
      ) {
          id
          outtime
          outpt
          outdist
      }
    }`;
    const mutationOptions = {
      mutation: qm,
      variables:

[2020-05-15 16:07] wtrocki commented on #451
Ok. I will try to replicate this problem locally in the sample app and get back to you

[2020-05-16 00:35] eltonec commented on #451
thanks a lot!

I have another problem because my server uses hasura, and the mutation response fields is included in the returning (such as the following program snippet), this causing offix to fail to analyze。

wkLogon(login): Promise<any> {
    const qm = gql`
    mutation insert_logons($input:[logons_insert_input!]!) {
      insert_logons(
        objects: $input
      ) {
        returning {

[2020-05-16 15:36] dioxapp commented on #451
Thanks a lot wtrocki for your reply !
As eltonec i am also using Hasura too !

[2020-05-18 16:35] bureyburey commented on #409
Also having this issue with the following steps (after adding the prevState changes)
1) go offline (airplane mode)
2) make offline mutation
3) go online
4) mutation sent twice

It also happens when restarting the app (while in airplane mode) and going online after it's loaded.

[2020-05-19 09:48] bureyburey opened #462 "Async Mutation Variables Mapper"
## Feature Request

Let me start of by commending you on a great job with this library 👏

**The Problem**
Due to server limitations, we cannot use graphql file upload, so we use base64 instead.
When creating the variables payload using base64, the data is stored in the local storage and will get large very fast, which may result in local storage errors.

**Proposed Solution**
Implement an optional

[2020-05-20 11:14] kingsleyzissou commented on #456
I can't think of anything to add to this. Offix would manage the client ID generation and the only time it would be necessary to provide an ID is for delete and update mutations (in which case the ID will come from the database or the offline generated client id).

[2020-05-20 11:28] kingsleyzissou commented on #397
@wtrocki I think this could be closed and we could give an example implementation in the docs.

If we had to provide support for this, we would probably have to create a new package entirely.

[2020-05-20 11:43] kingsleyzissou commented on #365
@psy667 closing this issue for now. But if you are still having issues, feel free to re-open.

[2020-05-20 11:43] #365 closed

[2020-05-20 11:53] wtrocki commented on #397
Challenge is that package itself will need to link some other packages which for both react and the capacitor is kinda hard to do (as you can have conflicts on root etc.) We might bring that as requirement for 1.0 (have package for each supported platform

[2020-05-20 12:17] wtrocki commented on #397
Happy to close it

[2020-05-20 13:39] kingsleyzissou commented on #160
@wtrocki if we're considering a local db for offline storage, would we still need to look at migrating idb-localstorage? For the meantime we've removed the dependency for this package and brought it into Offix.

[2020-05-20 13:41] wtrocki commented on #160
Trick is to be able to fix problems in storage wrapper as we go (and as browsers and mobile platforms evolve) while giving developers ability to override.

Both are possible now so we can close it as there is not much we can do

[2020-05-20 13:51] darahayes commented on #456
Yeah if you intend for your server to create the ids then you shouldn't need to provide any on the client side as offix will generate one for you. Perhaps you can share some sample code of how you're using offix and we might be able to help you solve your issue!

[2020-05-20 13:52] darahayes commented on #160
+1 I think we can close this

[2020-05-20 14:24] #160 closed

[2020-05-20 16:07] wtrocki commented on #456
Worth to mention
The challenge you might face here is that if your create operation creates nested objects - Like

{
  name
  address: {
    street
  }
}

For this cases, offix will not be able to generate id's and you should change your object creation to two separate calls that each will have root type and relationship id. Our team is currently documenting the use cases that offix will support a

[2020-05-20 16:08] wtrocki commented on #456
CC @craicoverflow

[2020-05-20 16:13] kingsleyzissou commented on #397
Yeah we can revisit for 1.0.0. Yeah managing it in a mono repo would be tricky with all the conflicts. Maybe we could do a package in a separate repo, but then there are issues with maintainability.

[2020-05-20 16:21] wtrocki commented on #397
every community has patterns:

- For react-native people drop new package with peer dependencies and tell people to add them in top level

- For capacitor all packages are typically there so all we need is just create package with interdependencies. I know I have closed this but this is actually way easier and doable as packages could be an copy paste.

Challenge for this is just that this package

[2020-05-20 16:38] wtrocki opened #463 "Offix is not handling properly data deletion"
## Feature Request

Offix is not handling data deletion properly. When data is deleted we are loosing ability to restore the conflict using common strategies.

What we need to do is to introduce concept of the soft deletes for offix and bring more comprehensive data handlers.

## How

Offix will define number of the patterns that developers can apply on the server:

- Soft deletes and order by tim

[2020-05-20 16:39] wtrocki opened #464 "Provide easy way for handling local data"
## Feature Request

Our cache helpers making many assumptions without telling developers about them.
This means that offix works nicely if you have.
Cache helpers work only with happy day scenarios - failing to cover advanced ones giving developers hard time

## How to action this in two phases

- We can document how our cache helpers work for the use cases we have and how to address them. Possibl

[2020-05-20 16:41] wtrocki opened #465 "Offline store and conflict engine that is independent of platform and graphql client"
## Feature Request

Offline challenges can be done on many different layer.
We need to have data store, data queuing mechanism and ability to replicate those changes using one of the possible options (using semaphores as offix scheduler does) or using scheduler for every operation (no matter the state to control conflict resolution

[2020-05-20 16:42] wtrocki commented on #49
@Eunovo Let;s chat about this this week. Happy to explain this concept.

[2020-05-20 16:43] QuevedoIB commented on #456
The use case I was having was the one mentioned by @kingsleyzissou. Updating a created element that has an offix generated id.

So for example you run an add creation that generates a todo, offix automatically adds an id to that todo, if you then run an update mutation to that todo it will queue with the offix generated id and then fail when app goes back online and mutation is sent to the server

[2020-05-20 16:45] wtrocki opened #466 "Add ability to filter out what data is effectively offline and what data can be hot"
## Feature Request

Currently adding offix is going to cause a lots of problems for the app as whole as adding it means that all data will be cached and available for offline.
During conversations with the developers I found this the main factor that is blocking offix adoption - it is not easy to turn it on for certain datasets that needs to be offline

[2020-05-20 18:31] wtrocki opened #467 "Describe specification for the cache updates in the offix"
## Feature Request

There are numerous issues happening with offix that are related to the unwritten format of the mutations that users need to conform to.
This brings a lots of challenges to developers and they cannot evaluate how offix can be used and how to design their mutations for offix.

If they cannot design their mutations or they get some issues it is usually hard for us to react to the

[2020-05-20 18:34] wtrocki opened #468 "Include Apollo-Cache-Persist inside the repository"
## Feature Request

I would like to talk about value of maintaining https://github.com/apollographql/apollo-cache-persist/ vs having Apollo Cache persist inside the repository where we can directly release it along with the offix every time. We strongly depend on this library - with some strong performance implications

[2020-05-20 18:36] wtrocki opened #469 "POC Apollo 3.0 integration"
## Feature Request

Integrate with Apollo 3.0 beta release and provide demo release of the packages.

@darahayes My branch got seriously outdated. I know you had some local changes with the integration. Do you still have this code to share?

[2020-05-20 18:39] wtrocki opened #470 "Provide first class native support by building React, React Native and Capacitor packages"
## Feature Request

Build dedicated packages for Angular, React, React Native and Capacitor

[2020-05-20 18:46] wtrocki commented on #462
Hi

I somehow missed that requirement. I have seen this problem before. Had the same limitation on the production app and managed to do it in very simple way.

The way you can do it without any hassle:

Create new Apollo Link called FileUpload.
Place this Link **after all offline/conflict offix links** (see how offix-boost does that with file upload link). This link will make sure that the file yo

[2020-05-20 18:50] wtrocki commented on #456
Wow looks like our ID mapping stopped working.

@darahayes @kingsleyzissou We should be able to confirm that in the sample app in the repo. Make create and update when offline should fail on datasync starter or example app here.

[2020-05-20 18:53] wtrocki opened #471 "Provide unified data storage for Offix"
## Feature Request

We are victims of Apollo cache format. Other clients working with much easier to work with format and can even track updates nicely for us.
We might consider doing translation and filtering on cache persistence (using single persistence with multiple formats.

This was widely discussed on Apollo Cache persist.

[2020-05-20 18:54] bureyburey commented on #462
I see...
Good idea, i will give it a try :)

Many thanks

[2020-05-20 18:58] wtrocki opened #472 "Conflict resolution should be independent from apollo format"
## Feature Request

While offline is independent at the moment our conflict resolution is
very dependent on Apollo. We need to investigate how to make it work with any client (and server side resolution as well)

[2020-05-22 20:16] Eunovo commented on #472
@wtrocki I'm looking into this. Any pointers(or just a starting pointt in the repo) will help

[2020-05-22 20:26] Eunovo commented on #49
@wtrocki you want to build client that uses this, right?

[2020-05-22 20:34] Eunovo commented on #49
Current offix client can handle offline mutations; You want to be able to handle subscriptions?

[2020-05-22 20:46] wtrocki commented on #49
Forget to talk about it. Lets ignore that for the moment but bring it to the project

[2020-05-22 20:47] Eunovo commented on #49
All right

[2020-05-22 20:47] wtrocki commented on #472
hmm.. It could be total refactor of offix. I will keep it for maintainers for the moment

[2020-05-22 20:47] Eunovo commented on #472
All right

[2020-05-25 14:13] stydav commented on #458
file is not being transformed with offix boost as offix-client with manually initialized apollo-upload-link does, this can be seen when logging the file on the backend. Ill provide an example on the bottom.

tried the following with the same codebase:
  1.) offix-client apollo-upload-link (ApolloLink)
  2.) offix-client-boost with `fileUpload: true`

the first transforms the file, upload works, th

[2020-05-25 14:39] kingsleyzissou commented on #451
I have managed to replicate the particular error messsage that @dioxapp is getting.

you are getting the error because you are escaping the gql backticks:

It should be:
[code]

Instead of this:
[code]

[2020-05-25 15:08] kingsleyzissou commented on #451
@eltonec I can see the returning object there after a mutation has been played. I am busy looking at the moment.

[2020-05-25 15:52] kingsleyzissou commented on #456
@wtrocki it's still working okay in both the datasync-starter and the sample app in the repo,

- Created a task while offline
- Edited the task while still offline
- Go back online, the task was created okay

[2020-05-25 16:13] kingsleyzissou commented on #464
@wtrocki sounds good, I think our biggest challenge and the most issues have been around the cache and this should add to stabilising the storage implementation.

[2020-05-25 20:07] wtrocki commented on #456
@QuevedoIB would you be able to provide more info about the issue:
Offix will save data in IndexedDb database in your browser
1) what ID you see store when offline
2) Is it prefixed by `/client`?

This reminds me that we need to have much better logging first in the lib to be able to inspect issues like this

[2020-05-25 20:25] kingsleyzissou commented on #456
I'll create an issue for the logging and have a look into it

[2020-05-25 20:26] kingsleyzissou opened #476 "Improved logging for Offix"
## Feature Request
Investigate better logging for Offix with more meaningful errors to assist debugging.

[2020-05-26 05:26] wtrocki commented on #476
Two ideas:

### Debug logging
Debug lib can be used to log messages when:
- item is saved, removed off queue

### Debug listener

Add queue listener that will print extra info

[2020-05-26 08:58] kingsleyzissou commented on #470
It would be cool if these were namespaced.

[2020-05-26 13:43] kingsleyzissou commented on #409
@bureyburey

what platform are you using react native on? IOS or Android and is it on a simulator or an actual device?

Are you using the example app or your own?

I am just trying to replicate the issue. On an actual IOS device on the sample app, the mutation gets lost on app restart, but if the app is just in the background it works okay.

[2020-05-26 14:04] kingsleyzissou opened #478 "React Native Sample App UI"
## Feature Request
Currently the React Native sample app is pretty much a bare-bones app with no styling or UI.

This could be a good first issue for someone to contribute to the repo and make the sample app nicer to look at.

[2020-05-26 14:30] wtrocki commented on #409
@kingsleyzissou That is why we need to have logging for storage.
It looks like there is some particular storage issue for IOS that we do not see.

[2020-05-26 14:49] wtrocki commented on #458
@stydav Yes. I will update the sample app to use boost to properly test it.

@kingsleyzissou WDYT?

[2020-05-26 14:58] bureyburey commented on #409
Not using the examlple app.

I had issues testing it on iOS since i only tested on the simulator which has issues with NetInfo going online => offline => online (see <a href="https://github.com/facebook/react-native/issues/10819">here</a>)

I encountered the issue when testing on an actual android device on development build.

I will update here once i extensively test it on production build.

[2020-05-26 15:04] kingsleyzissou commented on #409
I noticed that the netinfo issue with the iOS simulator too.

Yeah keep us updated

[2020-05-26 15:11] kingsleyzissou commented on #458
@wtrocki datasync starter would probably be a better shout.

[2020-05-26 15:44] shrey commented on #476
Hey, I would like to work on this issue, could you guide me a bit?

[2020-05-26 16:12] wtrocki commented on #476
@shrey Amazing to hear that. We can add debug gradually. Currently the most important area is the scheduler storage interface. Different platforms have issues around that and without logging is hard to get the sense what is the problem.

We can add debug before and after saving, getting and deleting item from queue

https://github.com/aerogear/offix/blob/master/packages/offix-scheduler/src/store/O

[2020-05-27 10:18] shrey commented on #174
Is this issue still relevant?

[2020-05-27 10:51] wtrocki commented on #174
Good point. We actually thinking of bringing the Apollo-Cache-Perist code inside the repository so dev release is not longer needed.

[2020-05-27 10:51] #174 closed

[2020-05-28 12:23] bureyburey commented on #409
Update:
This issue seems to NOT reproduce on android production build.

The mutation is only sent once as expected.

Tried these and it worked as expected:

1) activate airplane mode => offline mutate => deactivate airplane mode => mutation called once as expected

2) activate airplane mode => offline mutate => close and re-open app => deactivate airplane mode => mutation called once as expected

[2020-05-28 15:13] kingsleyzissou commented on #409
No problem at all. Thanks for getting back to us, if you have any issues again feel free to re-open.

While debugging this I found one or two other issues, so definitely not a hassle

[2020-05-28 15:13] #409 closed

[2020-05-29 13:00] dioxapp commented on #451
Hi,

Thank you @kingsleyzissou the solution you proposed works!!!.
But when i goes offline my update method is not called during mutations.
It is called only when i get back online, this make my optimistic responses fail. Did i miss something ?

Thanks !

[2020-05-29 13:10] kingsleyzissou commented on #451
Hey @dioxapp I’m glad that worked for you.

I think it’s probably a similar issue to what eltonec was having in that it’s the way that hassura returns the data. You could write a custom update similar to the one I proposed for eltonec and that should work for the optimistic response

[2020-05-29 13:58] dioxapp commented on #451
Hi kingsleyzissou,

It's what i did, i've create my own updatedCache method.
But i am facing one issue, when i turn my app offline my updatedCache was not called (so my data array is not updated)

By debuging i can see that it is called back when i get back online.

Thanks

[2020-05-30 17:14] gaurav-tangelo commented on #458
any update here ? We are seeing the same issue. Thanks so much @wtrocki and @kingsleyzissou

[2020-05-31 10:33] wtrocki commented on #458
Hi guys. Sorry for not comming back to you.

TL;DR let's use offix-client for the moment as workaround and we going to fix offix boost in the next release which will should happen soon anyway

[2020-05-31 15:41] wtrocki opened #488 "Refining future of the Offix"
## Feature

I have done pool around Offix users and found out nice facts:

<img width="663" alt="Screenshot 2020-05-31 at 16 37 20" src="https://user-images.githubusercontent.com/981838/83356285-18b4a780-a35d-11ea-9a55-8f9a03404e5c.png">

Most of the offix users looking for offline capabilities around reading.

Our current architecture do not provide simple use way to support that use case.
Writin

[2020-05-31 16:19] gaurav-tangelo commented on #458
@wtrocki do you know approximately when will the next release with the fix be available ? Thanks in advance

[2020-05-31 16:25] wtrocki commented on #458
while you can move to self configured client without boost now. We will release new version as soon this is fixed. Sometime next week

[2020-06-02 09:14] kingsleyzissou commented on #451
@dioxapp apologies, I missed that. If the update function is only firing when you come back online, that seems to be a bug with the cache updates.

We are busy looking to see how we can improve how we handle the cache with offline mutations at the moment and it is part of the roadmap for v1.0.0.

I will try debug this on my end too

[2020-06-04 13:46] wtrocki commented on #94
Outdated. Conflict is going to be removed

[2020-06-04 13:46] #94 closed

[2020-06-04 13:47] wtrocki commented on #187
Outdated. We have versioning enabled already

[2020-06-04 13:47] #187 closed

[2020-06-04 13:47] wtrocki commented on #218
Closing as this is going to be addressed by the work we doing around storage.

[2020-06-04 13:47] #218 closed

[2020-06-04 13:48] wtrocki commented on #242
@kingsleyzissou I consider this an quick win but we no longer going to extend client - which is probably worth to close

[2020-06-04 13:48] wtrocki commented on #242
Feel free to reopen if needed

[2020-06-04 13:48] #242 closed

[2020-06-04 13:49] wtrocki commented on #334
This is duplicate of the work we going to do with the pagination container.

@kingsleyzissou CC

[2020-06-04 13:49] #334 closed

[2020-06-04 13:53] wtrocki commented on #333
Since Hasura is using different formas. We can support hasura, graphback etc.
Those formats using different cache providers. Having solution independent of graphql mutation format will be desired. Leaving this open as we need to refine how to fix this into docs.

[2020-06-04 13:55] wtrocki commented on #75
Passing Id is now possible thru the client (both by data or using your own optimistic response creator. Closing

[2020-06-04 13:55] #75 closed

[2020-06-04 14:03] wtrocki commented on #70
Thank you for creating issue. We are going to work on this and have created separate issues to resolve it.

[2020-06-04 14:03] #70 closed

[2020-06-04 14:06] wtrocki commented on #357
We have moved to jest. We have comprehensive set of integration tests.
We are planning a major refurb of the repository which will involve adding more tests. Closing as we have no action here.

[2020-06-04 14:06] #357 closed

[2020-06-04 14:07] wtrocki commented on #71
We provide the ability to provide custom cache updates.
Thank you for logging issue

[2020-06-04 14:07] #71 closed

[2020-06-04 14:08] wtrocki commented on #355
Flutter will require an implementation to be done in Dart.
I think Offix (especially scheduler) can be used as inspiration to have something like that in your own project - it is not that hard to write your own scheduler in dart. IF you will have anything done we can even link it from offix readme as we already have android implementation done.

Thank you for reaching out to us

[2020-06-04 14:08] #355 closed

[2020-06-04 14:10] wtrocki commented on #73
We now provide helper for delete opration that can be used for this use case.
In near future we going to provide alternative to cache helpers that will support deletion out of the box.

[2020-06-04 14:10] #73 closed

[2020-06-04 14:14] #140 closed

[2020-06-04 14:16] kingsleyzissou commented on #236
Closing this issue as we don't intend on providing Relay support at the moment

[2020-06-04 14:16] #236 closed

[2020-06-04 14:17] kingsleyzissou commented on #252
We are closing this issue as we are currently working on a refactor of the subscription engine & the underlying support. We will update the docs once this is complete.

[2020-06-04 14:17] #252 closed

[2020-06-04 14:20] kingsleyzissou commented on #63
Thank you for your feedback on this. We are working on implementing a pagination container to handle dynamic parameters and we are looking at refactoring how we handle cache updates and optimistic responses.

We will open a separate issue for the refactor and link it here.

[2020-06-04 14:20] #63 closed

[2020-06-04 14:24] kingsleyzissou commented on #346
An example of this can be found in the docs with offix-scheduler:

https://offix.dev/docs/offix-scheduler-introduction

[2020-06-04 14:24] #346 closed

[2020-06-04 14:29] kingsleyzissou commented on #419
Close as the new website is up and running.

[2020-06-04 14:38] #447 closed

[2020-06-04 14:38] wtrocki commented on #434
Thank you so much for creating amazing packages and researching this topic.
We are evaluating bringing offix-angular into the offix (or linking to your repository) It is amazing to see community involvement.

We plan to do separate platforms as separate packages (especially native platforms like react native, capacitor and then nativescript).

I'm going to keep this issue and provide updates from

[2020-06-04 14:44] kingsleyzissou commented on #119
Closing this since conflicts will be dealt with on server-side. This implementation is also only specific to the DataSync stack, so this opinionated approach is best implemented in DataSync or Graphback.

[2020-06-04 14:44] #119 closed

[2020-06-04 14:48] cjohn001 commented on #434
Hello @wtrocki,
one note regarding the offix-angular package. For the moment I would like to recommend to just link the repo on your website. I am currently using it to build a productive application. This is the ultimate chance to prove that the library works as expected. Having it in my hands allows me to make changes to it faster. Furthermore, I already know that I have to change things in the

[2020-06-04 14:51] kingsleyzissou commented on #462
Thanks for your feedback on this, if you have any further issues feel free to re-open this.

[2020-06-04 14:54] #472 closed

[2020-06-04 14:57] kingsleyzissou commented on #456
@QuevedoIB we are going to close this, since we are improving the debugging in Offix in general. If you are still having issues with this, please feel free to re-open.

[2020-06-04 14:57] #456 closed

[2020-06-04 14:57] wtrocki commented on #434
Yes. We trying to address cache issues in near future. Hopefully this will make it easy to integrate with platforms like Angular.

TBH I was also really impressed by your work to enable GraphQL-Code-Generator.
It is something that we hoping to do for react as well

[2020-06-04 14:58] #449 closed

[2020-06-04 15:03] kingsleyzissou commented on #333
We are hoping to resolve this by providing out of the box cache updates in the near future. Feel free to re-open if you have any questions or further issues.

[2020-06-04 15:05] kingsleyzissou commented on #469
Duplicate of #222

[2020-06-04 15:07] kingsleyzissou commented on #397
See #470 for providing first-class support for Capacitor, React Native & Nativescript

[2020-06-04 15:07] #397 closed

[2020-06-04 15:23] wtrocki commented on #434
Yep.. Our target will be to integrate that with the queries that graphback generates and join offix together - this will give you data layer similar to Firebase API all very native to GraphQL. It is all possible thanks to GrapQL-Code-Generator that has support to various clients like URLQ, Apollo and thanks to that we can abstract individual client API and make people lives easier.

[2020-06-04 15:50] cjohn001 commented on #434
Sounds great. Have you already fixed a timeline when you will adopt offix to apollo 3? I am currently looking pretty much into the cache to get my app developed. By doing so, I am a little worrying about all the garbage which remains in the cache when thinking on production environment use cases where the cache is the single source of truth for a longer time period. I have red about apollo 3 that

[2020-06-04 15:54] wtrocki commented on #434
Working on this as we speak. We going to provide updates on roadmap issues so feel free to watch it.

[2020-06-04 15:57] cjohn001 commented on #434
ok, great, than hopefully we will see the PRs in soon :)

[2020-06-04 15:59] wtrocki commented on #458
Working on this now.

[2020-06-04 16:05] gaurav-tangelo commented on #458
thank you :)

[2020-06-04 17:10] Eunovo commented on #49
@wtrocki data replication between Apollo's single key store(local) and server or we get started on DataStore and use our own store.
I'm kinda confused, which are we doing? I'm thinking DataStore but this issue is old and talks about using apollo

[2020-06-04 17:11] Eunovo commented on #49
Also, it seems I don't have permission to assign issues to myself. Can you please assign this to me?

[2020-06-04 17:35] wtrocki commented on #49
I will fix that

[2020-06-05 16:41] wtrocki commented on #458
Hi guys.. I have tried this in boost and this is simply due to wrong version. I think we just need to release new version - Using boost from source worked for me, but release did not.
We will do more package updates and release offix next week

[2020-06-06 06:24] stydav commented on #458
Awesome, thanks

[2020-06-06 10:24] cjohn001 opened #490 "Please make export of MutationUpdaterFn available for offix-client"
Hello together,
in order to be able to develop custom updaters, I currently need to import MutationUpdaterFn as follows:

import { MutationUpdaterFn } from 'apollo-client';

As you write in the documentation that apollo-client in an app can be replaced with offix-client, it would be great if you could export the MutationUpdaterFn from offix-client in order for us to get rid of this additional depe

[2020-06-06 11:48] wtrocki commented on #490
Planning patch release early next week. Consider it done.

[2020-06-06 11:54] wtrocki commented on #490
Another temp hack is to declare function as `any`

[2020-06-06 13:00] cjohn001 commented on #490
Thanks, great!

[2020-06-08 08:32] Eunovo commented on #464
I think "handling local data"  is a great starting point for DataStore implementation @wtrocki @kingsleyzissou
We have moved from the approach of using graphql clients as database. So, we need storage implementation for browser(IndexedDB) and mobile(SQLite).

[2020-06-08 10:25] wtrocki commented on #464
It is more approach where you are using GraphQL client inside some db aware wrapper. worth checking Aws datastore they have something similar

[2020-06-11 12:32] stydav commented on #458
Hi, just checking in, is this released?

[2020-06-11 12:44] wtrocki commented on #458
Release happening today evening. small fixes required. Sorry

[2020-06-11 12:47] stydav commented on #458
alright thanks, no problem

[2020-06-15 09:44] wtrocki opened #497 "[DataStore] Investigate how to have ability to execute GraphQL queries"
## Feature Request

Investigate how to integrate normal GraphQL querying capabilities into DataStore so datastore can coexist with the more vanilla GraphQL use cases.

[2020-06-15 09:45] wtrocki commented on #497
CC @Eunovo @kingsleyzissou

[2020-06-15 10:43] wtrocki opened #498 "[DataStore] Integrate with the DataSync-starter application with Graphback"
## Feature Request

See:
https://github.com/aerogear/datasync-starter/pull/420